<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Credentials - bluBeetle.ai</title>

    {% set User_Portal_urls = User_Portal_urls() %}
    {% if User_Portal_urls %}
    {{ User_Portal_urls | safe }}
    {% endif %}
</head>

<body>
    <!-- Topbar -->
    {% set User_portal_topbar = User_portal_topbar(user_details) %}
    {% if User_portal_topbar %}
    {{ User_portal_topbar | safe }}
    {% endif %}

    <section class="main-part">
        <!-- Side-Bar -->
        {% set User_portal_sidebar = User_portal_sidebar() %}
        {% if User_portal_sidebar %}
        {{ User_portal_sidebar | safe }}
        {% endif %}

        <!-- Page Content -->
        <div class="page-content">
            <div class="c-page-padding">
                <div>

                    <!-- Route Headers -->
                    {% set User_portal_headers = User_portal_headers(page_info) %}
                    {% if User_portal_headers %}
                    {{ User_portal_headers | safe }}
                    {% endif %}


                    <div class="cc-box">
                        <div class="row">
                            <div class="col-12">
                                <p class="dash-box-heading-blue mt-3">Testing Credentials</p>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="cc-box-padding">
                                    <div class="form-group c-form-group">
                                        <label>Client ID <span class="required">*</span></label>
                                        <div class="d-flex">
                                            <input type="text" class="form-control c-form-control"
                                                value="{{sccess_id_key[0]['client_id']}}" id="client_id_value" readonly>
                                            <button class="btn c-btn ml-4" id="client_id_copy"><i
                                                    class="ri-file-copy-line"></i>Copy</button>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group c-form-group">
                                        <label>Client Secret Key <span class="required">*</span></label>
                                        <div class="d-flex">
                                            <input type="text" class="form-control c-form-control"
                                                value="{{sccess_id_key[0]['client_secret_key']}}"
                                                id="client_secret_key_value">
                                            <button class="btn c-btn ml-4" id="client_secret_key_copy"><i
                                                        class="ri-file-copy-line"></i>Copy</button>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="cc-box-padding">
                                    <div class="form-group c-form-group">
                                        <label>Client Secret Key <span class="required">*</span></label>
                                        <div class="d-flex">
                                            <input type="text" class="form-control c-form-control"
                                                value="{{sccess_id_key[0]['client_secret_key']}}"
                                                id="client_secret_key_value" readonly>
                                            <button class="btn c-btn ml-4" id="client_secret_key_copy"><i
                                                    class="ri-file-copy-line"></i>Copy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Chat Bot -->
                    <div id="chat-bot">

                        <div class="messenger br10">
                            <!-- <div class="timestamp">04:45 AM</div> -->
                            <div class="chatBot-Header">
                                <div class="chatBot-User-Profile">
                                    <img src="../../../static/images/Chat-Profile.svg" alt="" srcset="">
                                </div>
                                <span class="ChatBot-heading-name">Customer Support</span>
                            </div>
                            <div class="chatroom">
                                <div class="form-group">
                                    <label id="" class="c-label ChatBot-Label">Subject</label>
                                    <input class="form-control c-form-control" type="text" id="" name="" />
                                </div>
                                <div class="form-group">
                                    <label id="" class="c-label ChatBot-Label">Remark</label>
                                    <textarea class="form-control c-form-control" name="" id="" cols="28"
                                        rows="5"></textarea>
                                </div>
                                <div class="text-right">
                                    <button class="chat-submit-btn" type="button">Send Message <i
                                            class="ri-send-plane-2-line"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="ChatBot-iCon">
                            <div class="user">

                            </div>
                            <img class="Chatbot-icon-img" src="../../../static/images/ChatBot-iCon.svg" alt=""
                                srcset="">
                            <span class="ml-3">Customer Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Credit Pop-up -->
    {% set User_portal_credits_modal = User_portal_credits_modal(page_info) %}
    {% if User_portal_credits_modal %}
    {{ User_portal_credits_modal | safe }}
    {% endif %}

    <script nonce="{{ g.nonce }}">
        $("#client_id_copy").click(function () {
            var inputField = document.getElementById("client_id_value");

            // Select the input field's text
            inputField.select();
            inputField.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the input field
            document.execCommand("copy");
            alert("Client ID copied to clipboard!");
        })


        $("#client_secret_key_copy").click(function () {
            var inputField = document.getElementById("client_secret_key_value");

            // Select the input field's text
            inputField.select();
            inputField.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the input field
            document.execCommand("copy");
            alert("Client Secret Key copied to clipboard!");
        })
    </script>


</body>

</html>