<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credentials - bluBeetle.ai</title>

    {% set User_Portal_urls = User_Portal_urls() %}
    {% if User_Portal_urls %}
    {{ User_Portal_urls | safe }}
    {% endif %}
</head>

<body>
    <!-- Topbar -->
    {% set User_portal_topbar = User_portal_topbar(user_name) %}
    {% if User_portal_topbar %}
    {{ User_portal_topbar | safe }}
    {% endif %}

    <section class="main-part">
        <!-- Side-Bar -->
        {% set User_portal_sidebar = User_portal_sidebar() %}
        {% if User_portal_sidebar %}
        {{ User_portal_sidebar | safe }}
        {% endif %}

        <!-- Page Content -->
        <div class="page-content">
            <div class="c-page-padding">
                <div>
                    <div class="row">
                        <div class="col-12 c-heading-common">
                            <h1 class="main-heading">Credentials</h1>
                            <div class="testing-credit">
                                <p class="testing-credit-text">Testing Credit</p>
                                <p class="testing-credit-digit"><i class="ri-task-line"></i>
                                    <span>{{test_credit[0]["Used_Credits"]}} / {{test_credit[0]["Test_Credit"]}} </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cc-box">
                        <div class="row">
                            <div class="col-12">
                                <p class="dash-box-heading-blue mt-3">Testing Credentials</p>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="cc-box-padding">
                                    <div class="form-group c-form-group">
                                        <label>Client ID <span class="required">*</span></label>
                                        <div class="d-flex">
                                            <input type="text" class="form-control c-form-control"
                                                value="{{sccess_id_key[0]['client_id']}}" id="client_id_value" readonly>
                                            <button class="btn c-btn ml-4" id="client_id_copy"><i
                                                    class="ri-file-copy-line"></i>Copy</button>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group c-form-group">
                                        <label>Client Secret Key <span class="required">*</span></label>
                                        <div class="d-flex">
                                            <input type="text" class="form-control c-form-control"
                                                value="{{sccess_id_key[0]['client_secret_key']}}"
                                                id="client_secret_key_value">
                                            <button class="btn c-btn ml-4" id="client_secret_key_copy"><i
                                                        class="ri-file-copy-line"></i>Copy</button>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="cc-box-padding">
                                    <div class="form-group c-form-group">
                                        <label>Client Secret Key <span class="required">*</span></label>
                                        <div class="d-flex">
                                            <input type="text" class="form-control c-form-control"
                                                value="{{sccess_id_key[0]['client_secret_key']}}"
                                                id="client_secret_key_value" readonly>
                                            <button class="btn c-btn ml-4" id="client_secret_key_copy"><i
                                                    class="ri-file-copy-line"></i>Copy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script nonce="{{ g.nonce }}">
        $("#client_id_copy").click(function () {
            var inputField = document.getElementById("client_id_value");

            // Select the input field's text
            inputField.select();
            inputField.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the input field
            document.execCommand("copy");
            alert("Client ID copied to clipboard!");
        })


        $("#client_secret_key_copy").click(function () {
            var inputField = document.getElementById("client_secret_key_value");

            // Select the input field's text
            inputField.select();
            inputField.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the input field
            document.execCommand("copy");
            alert("Client Secret Key copied to clipboard!");
        })
    </script>


</body>

</html>