<script nonce="{{ g.nonce }}">


    $("#sample_name_comp").click(function () {
        $("#name1").val("Monika Jain")
        $("#name2").val("Jain Monika")
        $("#run_api").removeClass("disabled")
        $("#run_api").removeAttr("disabled")
    })


    $("#name1").on('change keyup copy paste cut', function () {
        if (this.value != "") {
            $("#run_api").removeClass("disabled")
            $("#run_api").removeAttr("disabled")
        }
        else {
            $("#run_api").addClass("disabled")
            $('#run_api').prop("disabled", true);
        }
    });

    $("#name2").on('change keyup copy paste cut', function () {
        if (this.value != "") {
            $("#run_api").removeClass("disabled")
            $("#run_api").removeAttr("disabled")
        }
        else {
            $("#run_api").addClass("disabled")
            $('#run_api').prop("disabled", true);
        }
    });


    $("#run_api").click(function () {

        // empty output
        $("#json_view").text("")
        $("#tabluar_responce").text("")


        if ($("#name1").val() != "" && $("#name2").val() != "") {
            $("#run_api").html(`
                    <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                    Loading...
                `)

            $(".c-loader").removeClass('d-none')

            const formdata = new FormData();
            formdata.append("name1", $("#name1").val());
            formdata.append("name2", $("#name2").val());

            const requestOptions = {
                method: "POST",
                body: formdata,
                redirect: "follow"
            };

            fetch("/name/test-api", requestOptions)
                .then((response) => response.json())
                .then((result) => {
                    $("#run_api").text("Run Api")

                    if (result['data']['status_code'] == 200) {
                        $(".c-loader").addClass('d-none')

                        request_id = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_id = result['data']['basic_response']['request_id']
                        }

                        request_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_on = result['data']['basic_response']['request_on']
                        }

                        response_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            response_on = result['data']['basic_response']['response_on']
                        }

                        api_name = ""
                        if (result['data']['basic_response'] != undefined) {
                            api_name = result['data']['basic_response']['api_name']
                        }

                        duration = ""
                        if (result['data']['basic_response'] != undefined) {
                            duration = result['data']['basic_response']['duration']
                        }

                        abc = {
                            "data": {
                                "response": result['data']['response'],
                                "request_id": request_id,
                                "request_on": request_on,
                                "response_on": response_on,
                                "api_name": api_name,
                                "duration": duration,
                            }
                        }
                        // Json preview
                        var formatteddata = JSON.stringify(abc, null, '\t')
                        document.getElementById('json_view').innerHTML = formatteddata

                        // Tabular view
                        $("#tabluar_responce").html(`<table class="table ">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Field</th>
                                                    <th scope="col">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">match_flag</th>
                                                    <td>`+ result['data']['response']['match_flag'] + `</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">match_percentage</th>
                                                    <td>`+ result['data']['response']['match_percentage'] + `</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">request_id</th>
                                                    <td>`+ request_id + `</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">api_name</th>
                                                    <td>`+ api_name + `</td>
                                                </tr>
                                            </tbody>
                                        </table>`)


                        //    Result in second
                        if (result['data']['basic_response'] != undefined) {
                            $('#eta').removeClass('d-none')
                            document.getElementById("name_comp_seconds").innerHTML = result['data']['basic_response']['duration']
                        }
                        // Api Status Show
                        $("#api_status").removeClass('d-none')
                        $("#status_code").addClass("success")
                        document.getElementById('status_code').innerHTML = result['data']['status_code']
                        // Used Credits set
                        if (result['data']['basic_response'] != undefined) {
                            $("#uds_crdts").text(result['data']['basic_response']['test_credits'])
                        }
                    }
                    else {
                        $(".c-loader").addClass('d-none')

                        request_id = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_id = result['data']['basic_response']['request_id']
                        }

                        request_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_on = result['data']['basic_response']['request_on']
                        }

                        response_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            response_on = result['data']['basic_response']['response_on']
                        }

                        api_name = ""
                        if (result['data']['basic_response'] != undefined) {
                            api_name = result['data']['basic_response']['api_name']
                        }

                        duration = ""
                        if (result['data']['basic_response'] != undefined) {
                            duration = result['data']['basic_response']['duration']
                        }

                        abc = {
                            "data": {
                                "response": result['data']['response'],
                                "request_id": request_id,
                                "request_on": request_on,
                                "response_on": response_on,
                                "api_name": api_name,
                                "duration": duration,
                            }
                        }
                        // Name Com Json preview
                        var formatteddata = JSON.stringify(abc, null, '\t')
                        document.getElementById('json_view').innerHTML = formatteddata
                        //    Result in second
                        if (result['data']['basic_response'] != undefined) {
                            $('#eta').removeClass('d-none')
                            document.getElementById("name_comp_seconds").innerHTML = result['data']['basic_response']['duration']
                        }
                        // Api Status Show
                        $("#api_status").removeClass('d-none')
                        $("#status_code").addClass("success")
                        document.getElementById('status_code').innerHTML = result['data']['status_code']
                        // Used Credits set
                        if (result['data']['basic_response'] != undefined) {
                            $("#uds_crdts").text(result['data']['basic_response']['test_credits'])
                        }
                    }


                })
                .catch((error) => console.error(error));
        }
        else {
            alert("Name1 & Name2 both required!")
        }
    })


    $("#full_screen_view").click(function () {
        enableFullScreen("json_view");
    });

    $("#copy_json").click(function () {
        copyToClipboard('#json_view')
    });

    $("#json_download").click(function () {
        Json_Download('json_view')
    });


</script>