<script>



    function add_type_change(e) {
        if (e.value === 'Percentage') {
            $('#inpufix').hide()
            $(e).parent().parent().parent().children().eq(2).find('input').prop("required", false)
        }
        else if (e.value === 'Fix') {
            $('#inpufix').show()
            $(e).parent().parent().parent().children().eq(2).find('input').prop("required", true)
        }
    }



    var table = $('#basic-datatable').DataTable({
        'processing': true,
        'serverSide': false,
        'serverMethod': 'get',
        "autoWidth": false,
        'ajax': {
            'url': '/poratl-data_tabless'
        },
        'lengthMenu': [[10, 50, 100], [10, 50, 100]],
        searching: true,
        sort: true,
        'columns': [
            { data: "corporate_id" },
            { data: 'api_name' },
            { data: 'unique_id' },
            { data: "current_date_time" },
            // {
            //     data: "request_data",
            //     render: function (data, type, row) {
            //         return '<span style="white-space:nowrap">' + data + "</span>";
            //     }
            // },
            { data: "_id" },

            // {
            //     data: null,
            //     'sortable': false,
            //     'searchable': false,
            //     'render': function (data, type, full) {
            //         if (!data) {
            //             return 'N/A';
            //         } else {
            //             const myJSON = JSON.stringify(data);
            //             view = `<a href="javascript:void(0);" onclick="view_modal(this.name)" name='` + myJSON + `' class="font-18 text-primary me-2 hover-eff-btn"><i class="mdi mdi-eye"></i><span class="font-12 badge badge-primary-lighten">Log View</span></a>`
            //             return view;
            //         }
            //     }
            // }
        ],

        orderCellsTop: true,
        fixedHeader: true,

        createdRow: function (row, data, dataIndex) {
            $(row).addClass('centerele');
        },
        keys: !0, language: {
            paginate: { previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>" }
        }, drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        },
    });

    const log_file_modal = new bootstrap.Modal('#log_file_modal')

    function view_modal(json_val) {
        log_file_modal.show()
        var obj = JSON.parse(json_val)
        const myHeaders = new Headers();
        console.log(obj);
        const formdata = new FormData();
        formdata.append("path_name", "/" + obj.company_name + "/" + obj.service_name + "/" + obj.year + "/" + obj.month + "/" + obj.date);

        const requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: formdata,
            redirect: "follow"
        };

        fetch("/log_text_file_list/table", requestOptions)
            .then((response) => response.json())
            .then((result) => {
                console.log(result);
                var table_abc = $('#log-datatable').DataTable({
                    "autoWidth": false,
                    "aaData": result.data,
                    "destroy": true,
                    'lengthMenu': [[10, 50, 100], [10, 50, 100]],
                    searching: true,
                    sort: true,
                    'columns': [
                        { data: "log_file" },
                        {
                            data: null,
                            'sortable': false,
                            'searchable': false,
                            'render': function (data, type, full) {
                                if (!data.log_file_download) {
                                    return 'N/A';
                                } else {
                                    view = `<a href="` + data.log_file_download + `" download class="font-18 text-primary me-2 hover-eff-btn"><i class="mdi mdi-download-circle"></i><span class="font-12 badge badge-primary-lighten">Log Download</span></a>`
                                    return view;
                                }
                            }
                        },
                    ],

                    orderCellsTop: true,
                    fixedHeader: true,

                    createdRow: function (row, data, dataIndex) {
                        $(row).addClass('centerele');
                    },
                    keys: !0, language: {
                        paginate: { previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>" }
                    }, drawCallback: function () {
                        $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
                    },
                });

            })
            .catch((error) => console.error(error));

    }


    function downloadFile(values) {
        const filename = "D:/NimbleRegTechlog//Craftsilicon/KYC_Check/2024/July/19/0039b4e8053246e486c60997e498ef43.log";
        const url = `/download/${filename}`;

        // Create a temporary anchor element
        const a = document.createElement('a');
        a.href = url;
        a.download = filename; // Suggests a filename for saving

        // Append anchor to the body
        document.body.appendChild(a);

        // Trigger a click on the anchor
        a.click();

        // Remove anchor from the body
        document.body.removeChild(a);
    }
    // $(document).ready(function () {
    //     // Setup - add a text input to each footer cell
    //     $('#basic-datatable thead tr')
    //         .clone(true)
    //         .addClass('filters')
    //     // .appendTo('#example thead');

    //     var table = $('#basic-datatable').DataTable({
    //         'processing': true,
    //         'serverSide': true,
    //         'serverMethod': 'post',
    //         "autoWidth": false,
    //         searching: true,
    //         sort: true,
    //         'ajax': {
    //             'url': '/plan_list/data_table/api'
    //         },
    //         'lengthMenu': [[10, 20, 50, 100], [10, 20, 50, 100]],
    //         "aaSorting": [[6, "desc"]],
    //         'columns': [
    //             {
    //                 data: "_id",
    //                 'sortable': false,
    //                 'searchable': false,
    //                 'render': function (_id) {
    //                     if (!_id) {
    //                         return 'N/A';
    //                     } else {

    //                         return `<a href="javascript:void(0);" onclick="get_plan(this.name)" data-bs-target="#check_pass" name='` + _id + `' class="font-18 text-primary me-2 hover-eff-btn"><i class="mdi mdi-account-edit"></i><span class="font-12 badge badge-primary-lighten">Edit</span></a>`;

    //                     }
    //                 }
    //             },
    //             { data: 'plan_name' },
    //             { data: 'plan_type' },
    //             { data: 'intrest' },
    //             { data: 'fix_month' },
    //             { data: 'notes' },
    //             {
    //                 data: "created_date",
    //                 // 'render': function (created_date) {
    //                 //     return `<span>` + created_date.replace(" ", "<br>") + `</span>`;
    //                 // }
    //             },
    //             {
    //                 data: 'updated_date',
    //                 // 'render': function (updated_date) {
    //                 //     return `<span>` + updated_date.replace(" ", "<br>") + `</span>`;
    //                 // }
    //             },

    //         ],
    //         columnDefs: [
    //             { orderable: true, className: 'reorder', targets: [1, 6, 7] },
    //             { orderable: false, targets: '_all' }
    //         ],
    //         rowCallback: function (row, data, index) {
    //             if (data.plan_type === "Percentage") {
    //                 $(row).find('td:eq(2)')[0].innerHTML = "<span class='badge badge-primary-lighten'> " + data.plan_type + "</span>"
    //             }
    //             else if (data.plan_type === "Fix") {
    //                 $(row).find('td:eq(2)')[0].innerHTML = "<span class='badge badge-success-lighten' >Fix Months</span>"
    //             }
    //         },

    //         orderCellsTop: true,
    //         createdRow: function (row, data, dataIndex) {
    //             $(row).addClass('centerele');
    //         },
    //         keys: !0, language: {
    //             paginate: { previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>" }
    //         }, drawCallback: function () {
    //             $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
    //         },

    //         initComplete: function () {
    //             var api = this.api();
    //             // For each column

    //             $('#plan_list').on('change', function () {
    //                 var regexr = '{search}';
    //                 api
    //                     // console.log(this.parentNode.childNodes[2].innerText.replace('×', ' '));
    //                     .column(2)
    //                     .search(
    //                         this.value != ''
    //                             ? regexr.replace('{search}', this.value)
    //                             : '',
    //                         this.value != '',
    //                         this.value == ''
    //                     )
    //                     .draw();
    //             })

    //             $('input[name="create_date_range"]').on('apply.daterangepicker', function () {
    //                 // alert('ghf');
    //                 var regexr = '{search}';
    //                 // console.log($('.cancelBtn'))

    //                 api
    //                     .column(6)
    //                     .search(
    //                         this.value != ''
    //                             ? regexr.replace('{search}', $(this)[0].value)
    //                             : '',
    //                         this.value != '',
    //                         this.value == '',

    //                     )
    //                     .draw();
    //             });

    //             $('input[name="update_date_range"]').on('apply.daterangepicker', function () {
    //                 // alert('ghf');
    //                 var regexr = '{search}';
    //                 // console.log($('.cancelBtn'))

    //                 api
    //                     .column(7)
    //                     .search(
    //                         this.value != ''
    //                             ? regexr.replace('{search}', $(this)[0].value)
    //                             : '',
    //                         this.value != '',
    //                         this.value == '',

    //                     )
    //                     .draw();
    //             });



    //             api
    //                 .columns()
    //                 .eq(0)
    //                 .each(function (colIdx) {
    //                     // Set the header cell to contain the input element
    //                     var cell = $('.filters th').eq(
    //                         $(api.column(colIdx).header()).index()
    //                     );
    //                     // var title = $(cell).text();
    //                     // $(cell).html('<input type="text"  placeholder="' + title + '" />');

    //                     // On every keypress in this input
    //                     $(
    //                         'input',
    //                         $('.filters th').eq($(api.column(colIdx).header()).index())
    //                     )
    //                         .off('keyup change')
    //                         .on('change', function (e) {
    //                             // Get the search value
    //                             $(this).attr('title', $(this).val());
    //                             var regexr = '({search})'; //$(this).parents('th').find('select').val();

    //                             var cursorPosition = this.selectionStart;
    //                             // Search the column for that value
    //                             api
    //                                 .column(colIdx)
    //                                 .search(
    //                                     this.value != ''
    //                                         ? regexr.replace('{search}', this.value)
    //                                         : '',
    //                                     this.value != '',
    //                                     this.value == ''
    //                                 )
    //                                 .draw();
    //                         })
    //                         .on('keyup', function (e) {
    //                             e.stopPropagation();
    //                             $(this).trigger('change');
    //                             $(this)
    //                                 .focus()[0]
    //                             // .setSelectionRange(cursorPosition, cursorPosition);
    //                         });
    //                 });

    //         },

    //     });

    //     $('#basic-datatable_filter').hide()

    //   
    //     const perm = JSON.parse(permission_check);
    //     if (perm[0].all_permissions.plan_view == true) {
    //         if (perm[0].all_permissions.plan_edit == true) {
    //         }
    //         else{
    //             table.columns([0]).visible(false);
    //         $('#permission_action_filter').remove()
    //         }
    //     }
    //     else {
    //         table.columns([0]).visible(false);
    //         $('#permission_action_filter').remove()
    //     }
    // });


    const check_pass = new bootstrap.Modal('#check_pass')
    const edit_plan_form = new bootstrap.Modal('#edit_plan_form')

    function get_plan(e) {
        check_pass.show()
        $('#update_action').attr('action', '/edit/plan_information/' + e)
        fetch("/get/plan_information/" + e)
            .then((response) => response.json())
            .then((data) => {
                document.getElementById('edit_plan_name').value = data.data[0].plan_name
                $('#edit_plan_type').val(data.data[0].plan_type).trigger('change')
                document.getElementById('edit_intrest').value = data.data[0].intrest
                document.getElementById('edit_fix_month').value = data.data[0].fix_month
                document.getElementById('edit_notes').value = data.data[0].notes
                document.getElementById('obj_id').value = e.name
                update_type_change(data.data[0].plan_type)
            })
    }

    function update_type_change(values) {
        if (values === 'Percentage') {
            $('#update_inputfix').hide()
        }
        else if (values === 'Fix') {
            $('#update_inputfix').show()
        }
    }


    function verify_password() {
        fetch("/confirmation/password/" + document.getElementById('password_input').value)
            .then((response) => response.json())
            .then((data) => {
                if (data.status == true) {
                    check_pass.hide();
                    setTimeout(() => {
                        edit_plan_form.show();
                    }, 100);
                }
                else {
                    alert('Invalid Password');
                }
            })
    }


    // check_planname_velidity
    function check_planname_velidity(name) {
        if (name.value != "") {
            fetch('/plan-name/verifing/' + name.value)
                .then((response) => response.json())
                .then((result) => {
                    if (result.data != "") {
                        $('#velidity_error').show()
                        $('#add_plan').hide()
                        $('#velidity_error').html(result.data)
                    }
                    else {
                        $('#add_plan').show()
                        $('#velidity_error').hide()
                    }
                })
        }
    }



    function check_planname_velidity_update(name) {
        if (name.value != "") {
            fetch('/plan-name/verifing/' + name.value)
                .then((response) => response.json())
                .then((result) => {
                    if (result.data != "") {
                        $('#velidity_error_update').show()
                        $('#obj_id').hide()
                        $('#velidity_error_update').html(result.data)
                    }
                    else {
                        $('#obj_id').show()
                        $('#velidity_error_update').hide()
                    }
                })
        }
    }
</script>