<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits & Pricing - bluBeetle.ai</title>

    {% set User_Portal_urls = User_Portal_urls() %}
    {% if User_Portal_urls %}
    {{ User_Portal_urls | safe }}
    {% endif %}
</head>

<body>

    <!-- Side-Bar -->
    {% set User_portal_sidebar = User_portal_sidebar() %}
    {% if User_portal_sidebar %}
    {{ User_portal_sidebar | safe }}
    {% endif %}

    <section class="home-section">

        <!-- Topbar -->
        {% set User_portal_topbar = User_portal_topbar(user_details) %}
        {% if User_portal_topbar %}
        {{ User_portal_topbar | safe }}
        {% endif %}

        <div class="main">

            <!-- Route Headers -->
            {% set User_portal_headers = User_portal_headers(page_info) %}
            {% if User_portal_headers %}
            {{ User_portal_headers | safe }}
            {% endif %}


            <div class="mb-7">
                <div class="row">
                    {% for i in api_info %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 d-flex">
                        <div class="product-pricing-box">
                            <div class="card-section-1 card-section">
                                {{i['api_logo'] | safe}}
                            </div>
                            <div class="pricing-box-value">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="18" viewBox="0 0 21 18"
                                    fill="none">
                                    <path
                                        d="M10.3516 18L0.351562 6L3.35156 0H17.3516L20.3516 6L10.3516 18ZM7.97656 5H12.7266L11.2266 2H9.47656L7.97656 5ZM9.35156 13.675V7H3.80156L9.35156 13.675ZM11.3516 13.675L16.9016 7H11.3516V13.675ZM14.9516 5H17.6016L16.1016 2H13.4516L14.9516 5ZM3.10156 5H5.75156L7.25156 2H4.60156L3.10156 5Z"
                                        fill="white" />
                                </svg>
                                <div class="d-flex align-items-baseline">
                                    <h6 class="mb-0 mr-1">{{i['credits_per_use']}}</h6>
                                    <span>/ Credit</span>
                                </div>
                            </div>
                            <div class="pricing-box-content">
                                <h5 class="mb-0">{{i['api_name']}}</h5>
                                <p>{{i['sort_api_description']}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Chat Bot -->
            {% set User_chatbot = User_chatbot() %}
            {% if User_chatbot %}
            {{ User_chatbot | safe }}
            {% endif %}
        </div>
    </section>



    <!-- Credit Pop-up -->
    {% set User_portal_credits_modal = User_portal_credits_modal(page_info) %}
    {% if User_portal_credits_modal %}
    {{ User_portal_credits_modal | safe }}
    {% endif %}




</body>

</html>