<!-- App favicon -->
<link rel="shortcut icon" href="../static/url_logo.png">

<!-- Select 2 -->
<link rel="stylesheet" href="../static/vendor/select2/css/select2.min.css">


<!-- Tostr Css -->
<link rel="stylesheet" href="../static/vendor/jquery-toast-plugin/jquery.toast.min.css">

<!-- Datatables css -->

<link href="../static/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="../static/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet"
    type="text/css" />
<!-- <link href="../static/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet"
    type="text/css" />
<link href="../static/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet"
    type="text/css" /> -->
<link href="../static/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet"
    type="text/css" />

<!-- Datepicker css-->
<link rel="stylesheet" href="../static/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css">

<!-- magnify Popup -->
<link rel="stylesheet" href="../static/vendor/magnify_popup/magnify_poup_css.css">

<!-- Theme Config Js -->
<script src="../static/js/hyper-config.js"></script>

<!-- App css -->
<link href="../static/css/app-saas.min.css" rel="stylesheet" type="text/css" id="app-style" />

<!-- Choice Css-->
<link rel="stylesheet" href="../static/vendor/choice/choice.css">

<!-- Icons css -->
<link href="../static/css/icons.min.css" rel="stylesheet" type="text/css" />


<!-- Daterangepicker css -->
<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css" />