<div class="leftside-menu">

    <!-- Logo Light -->
    <a href="#" class="logo logo-light">
        <span class="logo-lg">
            <img src="../static/logo.png" class="header_logo" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="../static/logo.png" alt="small logo" class="header_logo">
        </span>
    </a>

    <!-- Logo Dark -->
    <a href="#" class="logo logo-dark">
        <span class="logo-lg">
            <img src="../static/logo.png" alt="dark logo" class="header_logo">
        </span>
        <span class="logo-sm">
            <img src="../static/logo.png" alt="small logo" class="header_logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <button type="button" class="btn button-sm-hover p-0" data-bs-toggle="tooltip" data-bs-placement="right"
        title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </button>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>


        <!--- Sidemenu -->
    

        <ul class="side-nav">
            <!-- <li class="side-nav-title side-nav-item">Company Master</li> -->
            <li class="side-nav-item">
                <a href="/company-list-view" class="side-nav-link">
                    <i class="ri-building-4-fill"></i>
                    <span> Company List </span>
                </a>
            </li>

            <!-- <li class="side-nav-title side-nav-item">Log View</li> -->
            <li class="side-nav-item">
                <a href="/database-log" class="side-nav-link">
                    <i class="ri-database-2-fill"></i>
                    <span> DB Logs </span>
                </a>
            </li>

        </ul>

      
    </div>
</div>