<!-- Vendor js -->
<script src="../static/js/vendor.min.js"></script>

<!-- Datatables js -->
<script src="../static/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../static/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="../static/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../static/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="../static/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js"></script>
<script src="../static/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>



<!-- Datatable Date Sorting -->
<script src="../static/vendor/datatables.net/js/datatable_movement.js"></script>
<script src="../static/vendor/datatables.net/js/sorting_datetime.js"></script>
<script src="../static/vendor/datatables.net/js/datatable_movement.js"></script>


<!-- Slect2 Js -->
<script src="../static/vendor/select2/js/select2.min.js"></script>

<!-- Datepicker -->
<script src="../static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<!-- Choice Js -->
<script src="../static/vendor/choice/choice.js"></script>
<script src="../static/vendor/choice/everyuse.js"></script>

<!-- Bootstrap Wizard Form js -->
<script src="../static/vendor/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>


<!-- Magnify Popup-->
<script src="../static/vendor/magnify_popup/magnify_popup_js.js"></script>

<!-- Wizard Form Demo js -->
<script src="../static/js/pages/demo.form-wizard.js"></script>

<!-- Toster js -->
<script src="../static/vendor/jquery-toast-plugin/jquery.toast.min.js"></script>


<!-- Daterangepicker Plugin js -->
<script src="../static/vendor/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="../static/vendor/daterangepicker/daterangepicker.js"></script>

<!-- App js -->
<script src="../static/js/app.min.js"></script>

<!-- Sweet Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Common Js -->
<script src="../static/js/common.js"></script>