<div class="navbar-custom topnav-navbar">
    <div class="container-fluid detached-nav">

        <!-- Sidebar Menu Toggle Button -->
        <button class="button-toggle-menu">
            <i class="mdi mdi-menu"></i>
        </button>

        <!-- Horizontal Menu Toggle Button -->
        <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
            <div class="lines">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>

        <ul class="list-unstyled topbar-menu float-end mb-0">
            <li class="notification-list d-none d-md-inline-block">
                <a class="nav-link" href="#" data-toggle="fullscreen">
                    <i class="ri-fullscreen-line noti-icon"></i>
                </a>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#"
                    role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="account-user-avatar">
                        <img src="../static/logo.png" alt="user-image" class="rounded-circle">
                    </span>
                    <span>
                        <span class="account-user-name">CS</span>
                        <span class="account-position">{{username}}</span>
                    </span>
                </a>
                <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                    <!-- item-->
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                    </div>
                    <!-- item-->
                    <a href="#" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle-outline me-1"></i>
                        <span>My Profile</span>
                    </a>
                    <a href="#" class="dropdown-item notify-item">
                        <i class="mdi mdi-form-textbox-password me-1"></i>
                        <span>Change Password</span>
                    </a>
                    <a href="/admin/logout" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- Topbar header -->
        <div style="padding-top: 0.7rem;" class="text-center">
            <h3>Craft Silicon</h3>
        </div>
    </div>
</div>