.dd-flex {
    display: flex;
    align-items: center;
}

.f-power {
    text-align: right;
}

.footer-power {
    width: 200px;
}

@media (max-width: 1920px) {
    video {
        height: 100% !important;
    }
}

@media (max-width: 1440px) {
    .brand img {
        margin-left: 15px;
    }

    .slider-text {
        height: 80vh !important;
    }

    .slider {
        height: 80vh !important;
    }
}

@media (max-width: 1199px) {
    video {
        height: 64vh !important;
    }

    .slider {
        height: 64vh !important;
    }

    .slider-text {
        height: 64vh !important;
    }

    .slider-text-part .row {
        transform: translate(0px, -80%);
    }

    .slider-text-part {
        height: auto;
        top: 65%;
    }

    .bank-box-part {
        flex-wrap: wrap;
    }

    .bank-box {
        margin: 0 10px 20px 0;
    }

    .slider-font {
        font-size: 50px;
        line-height: 55px;
    }
}

@media (max-width: 992px) {
    .slider {
        height: 55vh !important;
    }

    video {
        height: 55vh !important;
    }

    .slider-text {
        height: 55vh !important;
    }

    .slider-text-part {
        height: auto;
    }

    .container {
        height: auto;
    }

    #carousel2 .slide-carousel2 {
        padding: 20px;
        flex-direction: column-reverse;
    }

    .solve-problem-part .slder-left {
        width: calc(100% - 0px);
        padding: 10px 10px 0 10px;
    }

    .tab-content .slide-carousel {
        flex-direction: column;
    }

    .tab-content .slder-left {
        width: calc(100% - 0px);
        padding: 10px 10px 0 10px;
    }

    .white-heading {
        font-size: 30px !important;
    }

    .focus-heading {
        font-size: 30px !important;
        line-height: 40px !important;
    }

    .contact-us-section .contact-left {
        padding: 20px 25px 0 25px;
    }

    .power-by {
        display: none;
    }
}

@media (max-width: 768px) {

    .slder-left {
        width: 100%;
    }

    .client-testimonial {
        flex-direction: column;
    }

    .client-text {
        width: calc(100% - 0px);
        padding-left: 0;
    }

    .white-heading,
    .focus-heading {
        font-size: 28px;
        line-height: 35px;
    }

    .slide-carousel {
        flex-direction: column;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .slder-right {
        width: auto;
    }

    .tab-content>.active {
        padding: 10px !important;
    }

    .slide-carousel2 .slder-right img {
        padding: 0 !important;
    }

    .tab-content .slder-left {
        padding: 10px 0 0 0;
    }

    .common-inner-page-padding .discription-of-product img {
        width: 100%;
        margin-bottom: 20px;
    }

    footer {
        padding: 30px 0px 20px 0px !important;
    }

    .btn-3 {
        margin-top: 20px !important;
    }

    .advantages-box {
        border-bottom: 1px solid gray;
    }

    .integration-box h3 {
        margin-bottom: 20px !important;
    }

    .advantage-of-product {
        padding: 30px 0px !important;
    }

    .ad-text h3 {
        height: auto !important;
        font-size: 20px !important;
    }

    .advantages-box {
        padding: 25px 25px !important;
        margin-bottom: 15px !important;
    }

    .focus-heading {
        font-size: 26px !important;
        line-height: 35px !important;
    }

    .common-inner-page-padding {
        padding-top: 25px !important;
    }

    .discription-of-product {
        padding-bottom: 30px !important;
    }

    .integration-part {
        padding: 30px 0 !important;
    }

    .focus-heading {
        font-size: 22px !important;
        line-height: 28px !important;
    }

    .contact-us-section .contact-right {
        padding: 20px 0 0 0 !important;
    }

    .contact-us-section .contact-right .details-content {
        margin-bottom: 20px !important;
    }

    .contact-left a.menu-link.btn-2.btn-3.w-100.mt-0 {
        margin-top: 0 !important;
    }
}

@media (max-width: 576px) {
    video {
        height: 100% !important;
    }

    .slider-font {
        font-size: 28px;
        line-height: 32px;
    }

    .slider-normal {
        font-size: 15px;
        line-height: 20px;
    }

    .white-heading,
    .focus-heading {
        font-size: 18px;
        line-height: 27px;
        padding: 0;
    }

    .slide-carousel2 .revolutionize-text h2 {
        font-size: 18px;
        line-height: 27px;
    }

    .slide-carousel2 .revolutionize-text p {
        font-size: 14px;
        line-height: 20px;
    }

    .white-heading {
        font-size: 24px !important;
    }

    .client-text p {
        font-size: 14px;
        line-height: 20px;
    }

    .offer-box-blue h4 {
        font-size: 19px;
    }

    .offer-icon-1 {
        width: 65px;
        height: 65px;
    }

    .offer-icon-1 img {
        width: 40px;
    }

    .revolutionize-text h2 {
        font-size: 29px;
    }

    .revolutionize-part,
    .focus-part {
        padding: 40px 0;
    }

    .revolutionize-text p {
        font-size: 16px;
        line-height: 22px;
    }

    .solve-problem-part .focus-heading {
        margin-bottom: 10px;
    }

    .solve-problem-part {
        padding: 40px 0;
    }

    .bank-box-part {
        padding-top: 25px;
    }

    .bank-box {
        width: 130px;
        height: 130px;
    }

    .bank-box img {
        max-width: 100px;
    }

    .gray-font {
        font-size: 15px;
    }

    .footer-heading {
        margin-bottom: 5px;
    }

    .footer-first p {
        margin-bottom: 8px;
    }

    .footer-second ul li a {
        font-size: 14px;
    }

    .success-stories {
        padding: 30px 0;
    }

    .client-image {
        width: 150px;
    }

    .footer-second ul {
        margin-bottom: 10px;
    }

    hr {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .tab-content>.active {
        padding: 15px !important;
    }

    .success-stories-slider {
        padding: 30px 30px;
    }

    .inner-page-text p {
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }

    .advantages-box.use-api {
        margin-top: 0 !important;
    }

    .footer-second ul li a {
        font-size: 13px !important;
    }

    .footer-heading {
        margin-bottom: 3px !important;
        font-size: 17px !important;
    }

    .footer-first {
        margin-bottom: 20px !important;
    }

    .intr-f p,
    .ad-text p {
        font-size: 14px !important;
    }

    .ad-text h3 {
        font-size: 17px !important;
        margin-bottom: 5px;
    }

    .form-group {
        margin-bottom: .5rem;
    }

    .advantages-box {
        padding: 15px 15px !important;
        margin-bottom: 15px !important;
    }

    .inter-btn a {
        font-size: 13px !important;
    }

    .integration-box {
        margin-top: 15px !important;
    }

    .integration-box {
        padding: 15px !important;
    }
}