<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAN OCR - bluBeetle.ai</title>

    {% set User_Portal_urls = User_Portal_urls() %}
    {% if User_Portal_urls %}
    {{ User_Portal_urls | safe }}
    {% endif %}
</head>

<body>
    <!-- Topbar -->
    {% set User_portal_topbar =  User_portal_topbar(user_name) %}
    {% if User_portal_topbar %}
    {{ User_portal_topbar | safe }}
    {% endif %}

    <section class="main-part">
        <!-- Side-Bar -->
        {% set User_portal_sidebar = User_portal_sidebar() %}
        {% if User_portal_sidebar %}
        {{ User_portal_sidebar | safe }}
        {% endif %}

        <!-- Page Content -->
        <div class="page-content">
            <div class="c-page-padding">
                <div>
                    <div class="row">
                        <div class="col-12 c-heading-common">
                            <h1 class="main-heading">PAN OCR</h1>
                            <div class="testing-credit">
                                <p class="testing-credit-text">Test Credits</p>
                                <p class="testing-credit-digit"><i class="ri-task-line"></i>
                                    <span>{{test_credit[0]["Used_Credits"]}} / {{test_credit[0]["Test_Credit"]}} </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="cc-box">
                                <div class="cc-box-padding">
                                    <p class="dash-box-heading-blue">Input</p>

                                    <div class="d-flex">
                                        <div class="form-group c-form-group mr-4">
                                            <label>Image </label>
                                            <div class="img-capure">
                                                <div class="captureimg">
                                                    <img src="../../../../static/images/n-images.jpg" id="aadhaar_img"
                                                        alt="">
                                                </div>
                                                <input type='file' id="aadhaar_input" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <button id="aadhaar_ocr_run" class="btn c-btn">Run API</button>

                                    <!-- <div class="or"><span>or</span></div>
                                    <div class="form-group c-form-group">
                                        <label class="d-block">Samples</label>
                                        <button id="sample_aadhaar_ocr" class="btn c-btn2">Samples</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="cc-box">
                                <div class="cc-box-padding">
                                    <p class="dash-box-heading-blue">Output <span id="eta" class="result d-none">🚀
                                            Results in
                                            <span class="seconds" id="aadhaar_ocr_seconds"> 0.656 </span>
                                            seconds!</span></p>

                                    <div class="c-loader mb-2 d-none">
                                        <img src="../../../../static/images/api-loader.gif" class="api-loader" alt=""
                                            srcset="">
                                        <p>✨ We are doing our magic!</p>
                                    </div>

                                    <div class="form-group c-form-group">
                                        <div class="dc-flex">
                                            <label>Json </label>
                                            <i class="ri-fullscreen-line" id="full_screen_view"></i>
                                        </div>
                                        <pre class="form-control c-form-control json-div" id="aadhaar_ocr_json">
                                        </pre>
                                    </div>

                                    <button class="btn c-btn" id="aadhaar_ocr_copy">Copy Json</button>
                                    <button class="btn c-btn2 ml-4" id="aadhaar_ocr_download">Download</button>


                                    <div class="right-bottom-part">
                                        <a href="#" class="api-link">API Documentation <i
                                                class="ri-arrow-right-line"></i></a>
                                        <div class="inf-bar">
                                            <div class="info-icon">
                                                <i class="ri-information-line"></i>
                                            </div>
                                            <div class="info-text">
                                                <h2>Data Privacy</h2>
                                                <p>bluBeetle does not store your private data, the input data will
                                                    deleted
                                                    upon usage of the API. Read more</p>
                                            </div>
                                        </div>
                                        <p class="dash-box-heading-blue pt-4">More about this API </p>
                                        <p>{{about_api_details}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Page Javascript -->
    {% include 'pan_ocr_js.html' %}



</body>

</html>