<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - bluBeetle.ai</title>

    {% set Auth_Css_Urls = Auth_Css_Urls() %}
    {% if Auth_Css_Urls %}
    {{ Auth_Css_Urls | safe }}
    {% endif %}

    <div class="c-content">
        <div class="c-content-main-part">
            <div id="toastContainer" class="toast-container">
            </div>
        </div>
    </div>

</head>

<body>

    <section class="main-login">
        <div class="row">

            <!-- Authentication SideBar -->
            {% set Auth_Sidebar = Auth_Sidebar() %}
            {% if Auth_Sidebar %}
            {{ Auth_Sidebar | safe }}
            {% endif %}

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 login-right-main-part">
                <div class="login-right-part">
                    <div class="login-padding">
                        <a href="/">
                            <img src="../../static/images/logo.png" class="img-fluid c-logo">
                        </a>
                        <div class="login-box">
                            <div class="login-content">
                                <h1>Create Account</h1>
                                <!-- <form method="post"> -->
                                <div id="validate-toast"></div>
                                
                                <div>
                                    <div class="input-groups">
                                        <label> Company Name</label>
                                        <input type="text" name="Company_Name" id="Company_Name" required>
                                        <div class="error" id="errorMessage_Company_Name"></div>
                                    </div>
                                    <div class="input-groups">
                                        <label>Mobile Number</label>
                                        <input type="number" min="1000000000" max="9999999999" name="Mobile_No"
                                            id="Mobile_No" required>
                                        <div class="error" id="errorMessage_Mobile_No"></div>
                                    </div>
                                    <div class="input-groups">
                                        <label>Work Email</label>
                                        <input type="email" name="Email_Id" id="Email_Id" required>
                                        <div class="error" id="errorMessage_Email_Id"></div>
                                    </div>
                                    <div class="group">
                                        <button class="btn c-btn" id="signup_btn">Sign Up</button>
                                    </div>
                                    <div class="group text-center">
                                        <p class="c-signUp"> Already have an account? <a href="/login/user"
                                                class="c-link">Login</a></p>
                                    </div>
                                </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Page Javascript -->
    {% include 'Singup_js_.html' %}


</body>

</html>