@import url("../Landing_css/fonts-googleapis.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root {
    --main-color: #139af6;
    --light-color: #e8eff9;
}

:root {
    --main-sidebar-color: #FFFFFF;
    --main-sidebar-hover-color: #E8EFF9;
    --text-hover-color: #046EE4;
    --card-bg-: #FFFFFF;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: Nimble-bold-font;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Nimble-light-font;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Nimble-Regular-font;
    src: url(../fonts/Lato-Regular.ttf);
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: #2f3032
}

p {
    margin: 0px;
}

ul {
    list-style: none;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.row {

    margin-right: 0px !important;
    margin-left: 0px !important;
}

body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    color: #2f3032;
    background-color: #f5f5f5;
}

.c-textbox {
    background-color: #f5f5f5;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0px 33px;
    font-size: 16px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--main-color) !important;
    outline: 0;

    box-shadow: 0 0 0 0.2rem rgb(9 62 78 / 25%) !important
}

.owl-item a:hover:before {
    content: "•";
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index: 99999;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

header .logo {
    width: 235px;
    float: left;
}

header .menu-icon {
    padding-right: 10px;
    float: left;
    margin-top: 12px;
}

.form-group label {
    margin: 0px;
    font-weight: bold;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    /* text-transform: uppercase; */
    font-size: 15px;
    font-family: Nimble-bold-font;
}

.small-btn {
    line-height: 25px !important;

    padding: 2px 10px !important;
    margin-top: 17px !important;
}

.c-dd {
    padding: 0px 5px !important;
}

.dash-box-heading-blue {
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: 12px;
    letter-spacing: 1px;
    color: var(--main-color);
}

.custom-file-uploader {
    position: relative;
}

.custom-file-uploader input[type='file'] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: default;
}

.blue-label {
    color: var(--main-color) !important;
    text-transform: capitalize !important;
}

.c-btn-file {
    font-size: 16px;
    background-color: var(--main-color);
    color: #fff;
    padding: 0px 10px;
    border-radius: 0px 5px 5px 0px;

    box-shadow: none;
    border: none;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    line-height: 25px;
    top: 0px;
}

.c-btn-file:hover {
    font-size: 16px;
    background-color: #f89f19;
    color: #fff;
    padding: 0px 10px;
    border-radius: 0px 5px 5px 0px;

    box-shadow: none;
    border: none;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    line-height: 25px;
    top: 0px;
}

.form-group {
    margin-bottom: 12px;
    text-align: left;
}

.mandatory {
    color: var(--main-color) !important;
}

.c-form-group {
    margin-bottom: 20px;
    text-align: left;
}

.required {
    color: red;
}

.rdio {
    position: relative;
    display: flex;
    float: left;
    padding-right: 30px;
}

.rdio input[type="radio"] {
    opacity: 0;
}

.rdio label {
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 7px !important;
}

.rdio label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid var(--main-color);
    ;
    background: #fff;
}

.rdio input[type="radio"] {
    margin: 0px;
}

.rdio input[type="radio"]:disabled+label {
    color: #999;
}

.rdio input[type="radio"]:disabled+label:before {
    background-color: var(--main-color);
    ;
}

.rdio input[type="radio"]:checked+label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    display: inline-block;
    font-size: 11px;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.rdio-default input[type="radio"]:checked+label:before {
    border-color: var(--main-color);
}

.rdio-primary input[type="radio"]:checked+label:before {
    border-color: var(--main-color);
}

.rdio-primary input[type="radio"]:checked+label::after {
    background-color: var(--main-color);
}

.custom-checkbox>[type="checkbox"],
.custom-checkbox label {
    /*margin-bottom:0px !important;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox>[type="checkbox"]:not(:checked),
.custom-checkbox>[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.custom-checkbox>[type="checkbox"]:not(:checked)+label,
.custom-checkbox>[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}

.custom-checkbox>[type="checkbox"]:not(:checked)+label:before,
.custom-checkbox>[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    width: 17px;
    height: 17px;
    border: 1px solid var(--main-color);
    ;
    background: #ffffff;
    border-radius: 2px;
}

.c-title {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.custom-checkbox>[type="checkbox"]:not(:checked)+label:after,
.custom-checkbox>[type="checkbox"]:checked+label:after {
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    content: '\e013';
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 2px;
    color: var(--main-color);
    ;
    transition: all 0.2s;

}

.custom-checkbox>[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

.custom-checkbox>[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

.custom-checkbox>[type="checkbox"][data-indeterminate]+label:after {
    content: '\2212';
    left: 2px;
    opacity: 1;
    transform: scale(1);
}

.custom-checkbox>[type="checkbox"]:disabled:not(:checked)+label:before {
    box-shadow: none;
    background-color: #eeeeee;
    border-color: #eeeeee;
    cursor: not-allowed;
    opacity: 1;
    color: #dadada;
}

.custom-checkbox>[type="checkbox"]:disabled:checked+label:before {
    box-shadow: none;
    background-color: #eeeeee;
    border-color: #eeeeee;
    cursor: not-allowed;
    opacity: 1;
    color: var(--main-color);
    ;
}

.custom-checkbox>[type="checkbox"]:disabled:checked+label:after {
    color: var(--main-color);
    ;
    cursor: not-allowed;
}

.custom-checkbox>[type="checkbox"]:disabled+label {
    color: #aaa;
    cursor: not-allowed;
}

.custom-checkbox>[type="checkbox"]:checked:focus+label:before,
.custom-checkbox>[type="checkbox"]:not(:checked):focus+label:before {
    border: 1px solid var(--main-color);
    ;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.custom-checkbox label:hover:before {
    border: 1px solid var(--main-color) !important;
}

.custom-checkbox [type="checkbox"]:disabled:not(:checked)+label:hover:before,
.custom-checkbox [type="checkbox"]:disabled:checked+label:hover:before {
    border: 1px solid var(--main-color) !important;
}



.c-form-control {
    height: 35px;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nimble-light-font';
    padding: 5px;
    border: 1px solid #dce0e4;
}

.c-search-icon {
    position: absolute;
    right: 5px;
}

.c-head {
    font-family: 'Nimble-bold-font';
    font-size: 20px;
    text-transform: uppercase;
    color: var(--main-color);
}

.c-flex {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.c-txt-search {
    position: relative;
}

.c-txt-search::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(../img/search-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 13px;
    margin-left: 13px;
}

header .logo-img {
    width: calc(100% - 125px);
    padding: 2px 0px;
    box-sizing: border-box;
}

header .profile {
    display: flex;
    justify-content: end;
    align-items: baseline;
    width: 270px;
}

header .search {
    width: calc(100% - 540px);
    padding: 0px 10px;
}

header .main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 0px 10px;
    position: fixed;
    border-bottom: 2px solid #fff;
    z-index: 9;
}

.profile ul li a {
    font-size: 16px;
    font-weight: 600;
    font-family: Nimble-light-font;
}

.profile ul li a:hover {
    color: var(--main-color);
}

/* .modal-header {
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 10px;

} */

/* .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-shadow: 0 1px 0 #fff;
    opacity: 1 !important;
}

.close:hover {

    opacity: 0.8 !important;
} */

/* .modal-header p {
    font-size: 20px;
} */
/* 
.side-menu {
    position: fixed;
    width: 80px;
    height: calc(100vh - 50px);
    background-color: #fff;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    box-shadow: 6px 16px 31px -18px #b7bcd1;
    -webkit-box-shadow: 6px 16px 31px -18px #b7bcd1;
    background: linear-gradient(180deg, #139af6 0%, #046ee4 46.21%);
} */

/* .main-part {
    width: 100%;
    padding-top: 55px;
} */

.page-content .c-page-padding {
    /* padding: 10px 10px 55px 10px; */
    padding: 27px 12px 65px;
}

.page-content {
    width: 100%;
    padding-left: 100px;
    transition: width 0.25s ease, margin 0.25s ease;
    height: 100vh;
    background-color: var(--light-color);
    overflow-x: auto;
    z-index: 1;
}

.noti-title {
    background-color: transparent;
    padding: 15px 20px;
}

.noti-title h6 {
    font-size: 1.5rem;
}

/* .side-menu-open .side-menu {
    width: 0px;
}

.side-menu-open .page-content {
    padding-left: 0px;
    transition: width 0.25s ease, margin 0.25s ease;
}

.side-menu .side-menu-container ul li .active {
    color: var(--main-color);
} */

/* .c-menu {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.c-menu a img {
    width: 50px;
    padding: 15px 10px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.c-menu.active {
    background: rgba(255, 255, 255, 0.3);
}

.c-menu:hover {
    background: rgba(255, 255, 255, 0.3);
}

.c-menu a {
    display: block;
}

.c-sidebar-icon {
    font-size: 23px;
    font-weight: normal;
    padding-right: 10px;
} */


/* .side-menu .panel div {
    padding-left: 27px;

}

.side-menu .panel div ul li {
    position: relative;
}

.side-menu .panel div ul li a {
    font-size: 15px;
}

.side-menu .panel div ul li a:hover {
    color: var(--main-color);
    background: none;
    border-color: #fff;
} */

.c-sub-menu::before {
    content: '';
    width: 2px;
    height: 8px;
    position: absolute;
    /* margin-top: 0; */
    top: 9px;
    left: 0;
    border-radius: 0;
    background: #8e95aa;
}

.c-sub-menu::after {
    content: '';
    width: 2px;
    height: 8px;
    position: absolute;
    margin-top: 0;
    bottom: 6px;
    left: 0;
    border-radius: 0;
    background: #8e95aa;
}

.owl-item a:hover {
    color: #093e52;
}

.c-menu-arrow {
    font-size: 35px;
    font-weight: normal;
    line-height: 28px;
    position: absolute;
    right: 10px;
}

.c-icon-rotate {
    -ms-transform: rotate(20deg);
    transform: rotate(180deg);
    transition: width 0.25s ease, margin 0.25s ease;
}

.c-btn {

    color: #fff;
    padding: 3px 20px;
    border-radius: 25px;
    -webkit-box-shadow: 6px 6px 9px -5px rgb(117 117 117);
    -moz-box-shadow: 6px 6px 9px -5px rgba(117, 117, 117, 1);
    box-shadow: 6px 6px 9px -5px rgb(117 117 117);
    /* border: 2px solid var(--main-color); */
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    font-size: 1.6rem;
    background: #139af6;
    color: #fff;
    /* padding: 0.7rem 10rem; */
    border-radius: 0.5rem;
    font-family: 'Nimble-bold-font';
    border: 2px solid #139af6;
}

.c-btn:hover {
    color: #fff;
    /* padding: 3px 35px; */
    border-radius: 25px;
    -webkit-box-shadow: 6px 6px 9px -5px rgb(117 117 117);
    -moz-box-shadow: 6px 6px 9px -5px rgba(117, 117, 117, 1);
    box-shadow: 6px 6px 9px -5px rgb(117 117 117);
    border: 2px solid #046ee4;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    font-size: 1.6rem;
    background: #046ee4;
    color: #fff;
    /* padding: 0.7rem 10rem; */
    border-radius: 0.5rem;
}

.or {
    width: 90%;
    text-align: center;
    border-bottom: .1rem solid #d5d5d5;
    line-height: 0.1em;
    margin: 1rem 0 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    color: #8F9BB3;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.or span {
    background: #ffffff;
    padding: 0rem 2.2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: #8F9BB3;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    justify-content: center;
    align-items: center;
}

.c-btn2 {
    font-family: 'Nimble-bold-font';
    font-weight: 600;
    font-size: 1.6rem;
    background-color: #fff;
    color: var(--main-color);
    padding: 3px 20px;
    border-radius: 0.5rem;
    -webkit-box-shadow: 6px 6px 9px -5px rgb(117 117 117);
    -moz-box-shadow: 6px 6px 9px -5px rgba(117, 117, 117, 1);
    box-shadow: 6px 6px 9px -5px rgb(117 117 117);
    border: 2px solid var(--main-color);

}

.c-btn-position {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.c-box {
    height: calc(100vh - 78px);
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 6px 6px 9px -5px rgb(117 117 117);
    -moz-box-shadow: 6px 6px 9px -5px rgba(117, 117, 117, 1);
    box-shadow: 6px 6px 9px -5px rgb(117 117 117);
}

.c-box .c-head {
    margin: 0px;
}

.c-btn2:hover {
    color: #fff;
    padding: 3px 20px;
    border-radius: 25px;
    -webkit-box-shadow: 6px 6px 9px -5px rgb(117 117 117);
    -moz-box-shadow: 6px 6px 9px -5px rgba(117, 117, 117, 1);
    box-shadow: 6px 6px 9px -5px rgb(117 117 117);
    /* border: 2px solid var(--main-color); */
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    font-size: 1.6rem;
    background: #139af6;
    color: #fff;
    /* padding: 0.7rem 10rem; */
    border-radius: 0.5rem;
}

.result {
    font-size: 15px;
    font-family: Nimble-bold-font;
    color: #585858;
    padding-left: 5px;
}

.success {
    color: #00B887;
    font-weight: 500;
}

.json-div {
    height: 285px;
    overflow: auto;
    background-color: #f1f1f1;
}

#demos .owl-carousel {
    margin: 2rem 0
}

#demos .owl-carousel .item {
    background-color: #fef866;
    padding: 13px 10px;
    border: 1px solid #afb0b0;
    border-radius: 50px
}

#demos .owl-carousel .item:hover {
    background: #ececee;
    padding: 13px 10px;
    border: 1px solid #ececee;
    border-radius: 50px;
    color: #000
}

#demos .owl-carousel .item h4 {
    color: #000;
    font-weight: 500;
    margin: 0;
    font-size: 14px
}

#demos .owl-carousel .item h4:hover {
    font-weight: 500;
    margin: 0;
    font-size: 14px
}

#demos .owl-carousel .item-video {
    height: 300px
}

#demos #setup {
    margin-top: 4rem
}

#demos .demo-list h5 {
    margin: 0
}

.owl-stage {
    width: 50000px !important
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
    display: flex;
    justify-content: space-between;
    margin-top: -32px;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 14px;
    margin: 3px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #dcdcdd;
    color: #000;
    text-decoration: none;
    font-weight: 500
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    width: calc(100% - 85px);
    margin: 0 auto;
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    padding: 0px 10px;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    color: inherit;
    border: none;
    height: 30px;
    width: 30px;
    font: inherit;
    font-size: 30px;
    /* padding: 0 17px!important; */
    border-radius: 50%;
}

.owl-prev {
    right: 55px
}

.owl-next {
    left: 55px
}

.owl-prev span {
    line-height: 10px;
    position: relative;
    top: -13px;
}

.owl-next span {
    line-height: 10px;
    position: relative;
    top: -13px;
}

.owl-dots {
    display: none
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.sidebar-navigation .c-tooltip {
    text-align: center;
    color: white;
}

.sidebar-navigation .c-tooltip li {
    cursor: pointer;
    transition: all ease-out 120ms;
}

.sidebar-navigation .c-tooltip li img {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation .c-tooltip li .tooltip {
    display: inline-block;
    position: absolute;
    background: linear-gradient(270deg, #139af6 36%, #046ee4 76.21%);
    color: #fff;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -45px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-wrap: nowrap;
}

.sidebar-navigation .c-tooltip li .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    background-color: #0070c0;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
}

.sidebar-navigation .c-tooltip li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation .c-tooltip li.active img {
    color: #98d7ec;
}

.main-heading {
    font-family: 'Nimble-Regular-font';
    font-weight: 600;
    font-size: 2.2rem;
    margin: 0;
    text-transform: inherit;
    letter-spacing: 1px;
}

/* .dash-box {
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-bottom: 20px;
    scale: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.dash-box:hover {
    scale: 1.06;

} */

/* .dash-arrow i {
    font-size: 22px;
    background: linear-gradient(180deg, #139af6 0%, #046ee4 46.21%);
    color: #fff;
    border-radius: 50%;
    padding: 2px;
} */

/* .dash-box .dash-box-padding {
    padding: 15px 20px;
    display: flex;

    align-items: center;
}

.dash-box .dash-arrow {
    width: 30px;
}

.dash-box .dash-icon {
    width: 80px;
}

.dash-box .dash-contain {
    width: calc(100% - 110px);
}

.dash-box-heading {
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.dash-box-normal-font {
    font-size: 1.2rem;
    line-height: 1.7rem;
} */

/* .cc-box {
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-bottom: 20px;


}

.cc-box .cc-box-padding {
    padding: 15px 20px;
}

@media (min-width:1080px) and (max-width:2000px) {
    #demos .owl-carousel {
        margin: 4px 0 13px !important
    }
}

@media (min-width:780px) and (max-width:1080px) {
    #demos .owl-carousel {
        margin: 1rem 0
    }
}

@media only screen and (max-width:1080px) {
    #demos .row {
        margin: 0 auto;
        max-width: 51rem !important;
        width: 100%;
        position: relative;
        top: -12px
    }
}

@media only screen and (max-width:1020px) {
    #demos .row {
        margin: 0 auto;
        max-width: 40rem !important;
        width: 100%;
        position: relative;
        top: -12px
    }
}

@media only screen and (max-width:778px) {
    .owl-prev {
        display: none !important
    }

    .owl-next {
        display: none !important
    }
}

@media only screen and (max-width:768px) {
    #demos .row {
        margin: 0 auto;
        max-width: 41.5rem;
        width: 100%
    }
}

@media only screen and (max-width:640px) {
    #demos .row {
        margin: 0 auto;
        max-width: 41.5rem;
        width: 100%;
        position: relative
    }
}

@media only screen and (max-width:40em) {
    #docs {
        padding-top: 1rem
    }

    #docs ul.side-nav {
        text-align: left
    }
}
 */

.testing-credit {
    display: flex;
    align-items: center;
}

.testing-credit-text {
    font-size: 17px;
    font-weight: 700;
    padding-right: 10px;
}

.c-heading-common {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testing-credit-digit i {
    font-size: 25px;
    color: #ffaa00;
}

p.testing-credit-digit span {
    font-size: 26px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 10px;
    position: relative;
}

.testing-credit-digit {
    border: 1px solid #acacac;
    padding: 0px 10px;
    border-radius: 10px;
    min-width: 130px;
}

.c-btn i {
    font-size: 18px;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.custom-control-label::before {
    position: absolute;
    top: 3px;
    left: -19px;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after {
    position: absolute;
    top: -1px;
    left: -23px;
    display: block;
    width: 24px;
    height: 24px;
    content: "";
    background: 50% / 50% 50% no-repeat;
}

.captureimg {
    width: 100%;
    height: 300px;
    position: relative;
}

.captureimg i.ri-close-line {
    font-size: 17px;
    color: black;
    z-index: 1;
    position: absolute;
    top: -12px;
    font-weight: 600;
    right: -10px;
    border: 2px solid #000000;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.captureimg img {
    width: 100%;
    height: 100%;
}

.img-capure {
    border: 1px solid #ccc;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: center;
}

input[type=file] {
    width: 300px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 5px;

}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #139af6;
    padding: 8px 20px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #046ee4;
}

input[type=file] {
    width: 120px;
    color: transparent;
}

.c-budge {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    color: #000;
    background: #dbdbdb;
    padding: 9px 17px;
    border-radius: 50px;
}

.btn.disabled,
.btn:disabled {
    opacity: .65;
    background: #ccc;
    color: #000;
    border-color: #a7a5a5;
}

.c-form-control::placeholder {
    color: rgb(201, 201, 201);
    opacity: 1;
    /* Firefox */
}

.c-form-control::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: rgb(201, 201, 201);
}

.img-preview {
    width: 100%;
    height: 250px;
    border: 1px solid #ccc;
    margin-top: 15px;
}


.email-veri-body-part {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.email-veri-padding h2 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 14px;
}

.email-veri-padding p {
    padding-bottom: 20px;
    font-size: 17px;
}

.email-icon {
    width: 80px;
    padding-bottom: 23px;
}





.right-bottom-part {
    padding-top: 20px;
}

.api-link {
    font-size: 17px;
    font-weight: 600;
    color: #139af6;
    padding-bottom: 10px;
    line-height: 30px;
}

.api-link:hover {
    color: #0f81ce;
}

.api-link i {
    position: relative;
    top: 3px;
}

.info-icon i {
    font-size: 23px;
    font-weight: 500;
    color: #139af6;
}

.inf-bar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 17px;
    background-color: #f1f1f1cc;
    border-radius: 10px;
}

.info-text h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #646464;
}

.info-text p {
    font-size: 14px;
    color: gray;
}

.info-text {
    padding-left: 10px;
}


.c-loader {
    display: flex;
    align-items: center;
}

.api-loader {
    width: 40px
}

.cc-lable {
    color: #7c7c7c;
}

.c-view-data {
    font-weight: bold;
    font-size: 16px;
}

.c-table-responsive {
    width: 100%;
    height: 410px;
    overflow: auto;
}

#client_id_copy,
#client_secret_key_copy {
    margin-left: 0px !important;
    margin-top: 15px;
}


/* .table thead th {
    vertical-align: bottom;
    border-bottom: none;
    background: #139af6;
    color: #fff;
} */

#credit-table tr td:last-child {
    font-weight: bold;
    font-size: 16px;
}

.mode_type_test {
    border: .2rem solid #FFAA00;
    padding: 3px 18px 3px 18px;
    border-radius: 1.3rem !important;
}

.mode_type_test span {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    color: #222B45;
}

.mode_type_test i {
    color: #FFAA00;
    margin-right: 0.5rem;
}


.mode_type_live {
    border: .2rem solid #00B887;
    padding: 3px 18px 3px 18px;
    border-radius: 1.3rem !important;
}

.mode_type_live span {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    color: #222B45;
}

.mode_type_live i {
    color: #00B887;
    margin-right: 0.5rem;
}

.highlighted_text {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #2E3A59;
    background: #e7eef8;
    border: .1rem solid #8F9BB3;
    border-radius: 2.8rem;
    padding: 0.4rem 1.6rem;
    display: inline-block;
    margin-left: 1.6rem;
}

.plus_credits {
    background: #00B887;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 800;
    margin-right: 0.5rem;
    cursor: pointer;
}


#creditsMailModal .modal-content {
    padding: 1rem;
    border-radius: 1rem;
}


#creditsMailModal .modal-header {
    border: none;
}

#creditsMailModal .model-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 33px;
    background: linear-gradient(rgb(19, 154, 246) 0%, rgb(4, 110, 228) 46.21%);
    color: #FFFFFF;
}

#creditsMailModal .model-icon i {
    font-size: 2.1rem;
}

#creditsMailModal .c-body-content {
    margin-bottom: 2rem;
}

#creditsMailModal .modal-content .modal-header h6 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

#creditsMailModal .c-body-content h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
}

#creditsMailModal .c-body-content div {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

#creditsMailModal .body-content-details {
    border-radius: 8px;
    border: 1px solid #dddddd;
    padding: 10px;
}

#creditsMailModal .body-content-details div {
    font-size: 15px;
    font-weight: 600;
}

#creditsMailModal .body-content-details p {
    font-size: 13px;
    color: grey;
    line-height: 20px;
}


#RevertMailModal .modal-content {
    padding: 1rem;
    border-radius: 1rem;
}


#RevertMailModal .modal-header {
    border: none;
}

#RevertMailModal .model-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 33px;
    background: #00b887;
    color: #FFFFFF;
}

#RevertMailModal .model-icon i {
    font-size: 2.1rem;
}


#RevertMailModal .c-body-content {
    margin-bottom: 2rem;
}

#RevertMailModal .modal-content .modal-header h6 {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

#RevertMailModal .c-body-content h5 {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

#RevertMailModal .c-body-content div {
    color: grey;
}


#creditsMailModal .modal-header .close,
#RevertMailModal .modal-header .close {
    font-size: 2.5rem;
}

/* =========================== //
//            ChatBot         //
// ========================= */
#chat-bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999999999999999;
    height: auto;
    float: right;
}

#chat-bot .ChatBot-iCon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(229.27deg, #4EB1F3 10.92%, #0062FF 95.09%);
    width: 205px;
    height: 45px;
    float: right;
    border-radius: 29px;
    padding: 10px 15px;
    transition: 0.3s all;
    box-shadow: 0 30px 50px #0000000d;
    overflow: hidden;
}

#chat-bot .ChatBot-iCon:hover {
    box-shadow: 0 5px 20px rgb(209 231 221);
}

#chat-bot .ChatBot-iCon .user {
    display: none;
}

/* #chat-bot .ChatBot-iCon.expanded {
    width: 270px;
    justify-content: space-between;
} */
#chat-bot .messenger.expanded {
    visibility: visible;
    height: auto;
    width: 270px;
}

#chat-bot .ChatBot-iCon.expanded .user {
    /* visibility: visible; */
    display: block;
    margin-left: 0;
    transition: 0.5s;
}

#chat-bot .messenger {
    background-color: #fff;
    border: 1px solid #0f513238;
    box-shadow: 0 30px 50px #0000000d;
    margin-bottom: 10px;
    height: 390px;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.7s;
    width: 0;
    height: 0;
    visibility: hidden;
}

#chat-bot .chatroom {
    height: 320px;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    touch-action: pan-y;
}

#chat-bot .chatroom::-webkit-scrollbar {
    display: none;
}

#chat-bot .timestamp {
    font-size: 12px;
    color: #7c8089;
    text-align: center;
    margin-bottom: 10px;
}

.chat-submit-btn {
    width: 100%;
    max-width: 140px;
    padding: 7px 15px;
    background: var(--main-color);
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 29px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--main-color);
    transition: all ease-in-out .3s;
}

.chat-submit-btn:hover {
    background: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: all ease-in-out .3s;
}

.chatroom .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}

.chatBot-Header {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #139af6 0%, #046ee4 46.21%);
    padding: 10px;
    color: white;
    font-weight: 600;
}

.chatBot-Header .chatBot-User-Profile {
    width: 30px;
    height: 30px;
    border-radius: 33px;
    margin-right: 10px;
}

.product-image {
    width: 100px;
    height: 100px;
    background: #5bbfff47;
    line-height: 95px;
    text-align: center;
    border-radius: 70px;
    margin: 0 auto 12px;
}

.product-category {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 22px;
}

.category-icon img {
    width: 20px;
    height: 20px;
}

.category-icon {
    display: flex;
    align-items: center;
}

.category-icon .category-value {
    font-weight: 900;
    font-size: 26px;
    margin-left: 5px;
    line-height: 22px;
}

.product-category span {
    font-weight: 600;
    margin-left: 5px;
    font-size: 12px;
}

.product-body .product-title h5 {
    color: #0C86EE;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-body .product-details p {
    font-size: 12px;
    color: #5A6063;
    text-transform: capitalize;
}

.product-box {
    padding: 20px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 0%), 0 6px 6px rgb(0 0 0 / 2%);
    border-radius: 15px;
    background: #ffffff;
    margin-bottom: 15px;
}

.product-image svg {
    width: 55px;
}

/* Api Status */
#api_status label {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.select2-container--default .select2-selection--single {
    position: relative !important;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    background: #efefef;
    color: #6C757D;
    height: 38px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
}


/* Side bar */


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px;
    background: var(--main-sidebar-color);
    padding: 6px 10px;
    box-sizing: border-box;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
    transition: all 0.5s ease;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 1;
    transition: all 0.6s ease-in;
}

.logo_name img {
    max-width: 100px;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
    transition: all 0.3s ease-in;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.sidebar.open .logo-details #btn {
    text-align: center;
    opacity: 1;
    right: 0;
    width: auto;
    height: auto;
}

.sidebar.open li {
    display: flex;
    align-items: center;
    margin: 0;
}

.sidebar.open li a {
    margin: 0 10px 0 0;
}

.sidebar.open li:hover {
    background: var(--main-sidebar-hover-color);
    border-radius: 8px;
    transition: all 0.2s ease;
}

.sidebar.open li:hover a {
    background: transparent;
}

/* .sidebar .side-menu-ic-width {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  } */
.sidebar .nav-list {
    margin-top: 20px;
    padding-left: 0;
    height: 100%;
}

.sidebar .nav-list {
    left: -300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar .nav-list::-webkit-scrollbar {
    display: none;
}

.sidebar li {
    position: relative;
    text-align: center;
    margin: 8px 0;
    list-style: none;
    transition: all 0.1s ease;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 9;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    display: none;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: block;
}

.sidebar li.active .links_name {
    color: #0071cf;
}

.sidebar li.active a svg path {
    fill: #0071cf;
}

.sidebar input {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 12px;
    transition: all 0.1s ease;
    background: #481d7e;
    padding: 0 15px 0 60px;
    box-sizing: border-box;
}

.sidebar.open input {
    width: 50px;
    padding: 0;
    transition: all 1.2s ease;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #4f1374;
    color: #FFF;
}

.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #FFF;
}

.sidebar .bx-search:hover {
    background: #FFF;
    color: #11101d;
}

.sidebar li a {
    display: block;
    width: 45px;
    margin: 0 auto;
    line-height: 15px;
    padding: 8px;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--main-sidebar-color);
    transition: all ease-in-out .3s;
}

.sidebar li:hover a {
    background: var(--main-sidebar-hover-color);
    box-shadow: inset 3px 5px 10px rgba(0, 0, 0, .2);
    transition: all ease-in-out .3s;
}

.sidebar li:hover a img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(97%) saturate(2259%) hue-rotate(200deg) brightness(92%) contrast(97%);
    transition: all ease-in-out .3s;
}

.sidebar li:hover .links_name {
    color: var(--text-hover-color);
}

.sidebar li .links_name {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    opacity: 1;
    display: block;
    pointer-events: none;
    transition: all ease-in 0.3s;
    line-height: 15px;
    word-wrap: break-word;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
    transition: all ease-in 0.3s;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li .side-menu-ic-width {
    width: 25px;
    height: 25px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 250px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    box-sizing: border-box;
    background: #481d7e;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 78px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    /* margin-right: 10px; */
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

/* .sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #4f1374;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }
  .sidebar.open .profile #log_out {
    width: 78px;
    background: none;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #4f1374;
    max-width: 100%;  
    transition: all 0.5s ease;
  } */
.home-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 100px;
    width: calc(100% - 100px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: #4f1374;
    font-size: 25px;
    font-weight: 500;
    padding: 36px 36px 0;
    box-sizing: border-box;
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}




/* ========================= */
/*     HEADER TOP NAVBAR     */
/* ========================= */
#ScrollHeader {
    height: 72px;
}

#ScrollHeader nav {
    width: 100%;
    height: 72px;
    position: relative;
    /* padding: 0 36px 0 90px; */
    padding: 0 15px 0 115px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: var(--main-sidebar-color);
    z-index: 10;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: end;
    align-items: center;
}

#ScrollHeader.open {
    padding: 0 36px 0 270px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

#ScrollHeader.shrink {
    height: 60px;
    background: rgb(72 29 126 / 0.81);
    -webkit-backdrop-filter: saturate(180%) blur(3px);
    backdrop-filter: saturate(180%) blur(3px);
}

#ScrollHeader.shrink .header .logo img {
    height: 24px;
    transition: all ease-in-out 0.3s;
}

#ScrollHeader.shrink .header .menu img {
    width: 27px;
    transition: all ease-in-out 0.3s;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-hover-color);
    text-decoration: none;
    position: relative;
}

nav .links a:hover {
    color: var(--text-hover-color);
}

nav .links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-hover-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav .links a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    color: var(--text-hover-color);
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 3px;
    background-color: var(--text-hover-color);
    margin: 5px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .links a {
        font-size: 20px;
    }

    nav :checked~.links {
        bottom: 0;
    }

    nav .icon-burger {
        display: block;
    }

    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(6px) rotate(225deg);
    }

    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

/* ========================= */
/*         ANIMATIONS        */
/* ========================= */
@keyframes dropdown {
    0% {
        opacity: 0;
        transform: scaleY(0.98) translateY(10px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/* ========================= */
/*    MEDIA QUERIES HEADER   */
/* ========================= */
@media (max-width: 575px) {
    #ScrollHeader {
        width: 100%;
        height: 66px;
        padding: 0 15px;
    }

    #ScrollHeader.shrink .header .logo img {
        width: 150px;
        transition: all ease-in-out 0.3s;
    }

    #ScrollHeader.shrink .header .menu img {
        width: 27px;
        transition: all ease-in-out 0.3s;
    }
}

/* ========================= */
/*     HEADER TOP NAVBAR     */
/* ========================= */
.main {
    box-sizing: border-box;
    padding: 100px 15px 15px 15px;
    overflow-x: auto;
    height: 700px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    /* padding: 0 90px 0 90px; */
    z-index: 10;
    transition: all ease-in .3s;
    background: #FFF;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    height: 72px;
}

.profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    text-align: end;
}

.profile .user h3 {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
}

.profile p {
    line-height: 1;
    font-size: 14px;
    opacity: .6;
}

.profile .img-box {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    line-height: 40px;
}

.profile .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile .user {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8EFF9;
    padding: 8px 20px;
    border-radius: 33px;
    margin-right: 15px;
}

.dot {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #FF5C16;
    display: block;
    border-radius: 100%;
}

.dot-success {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #28a745;
    display: block;
    border-radius: 100%;
}

.profile-menu {
    position: absolute;
    top: calc(100% + 0px);
    right: 35px;
    width: 200px;
    min-height: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 300ms;
    border-radius: 8px;
}

/* .profile-menu::before {
    content: '';
    position: absolute;
    top: -7px;
    right: 8px;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid #0C86EE;
    transform: rotate(45deg);
    z-index: -1;
  } */

.profile-menu.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.profile-menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #FFF;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 8px;
    border: 1px solid #0C86EE;
}

.profile-menu ul li {
    list-style: none;
}

/* 
  .profile-menu ul li:hover {
    background: #eee;
  } */

.profile-menu ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 6px;
}

.profile-menu ul li:not(:last-child) a {
    border-bottom: 1px solid #C7E1FF;
}

.profile-menu ul li a i {
    font-size: 1.2em;
}

.profile-menu ul li .user-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-menu ul li a {
    font-size: 14px;
    color: #0071CE;
}

.profile-menu ul li .user-name span {
    font-size: 14px;
    line-height: 14px;
}

.profile-menu ul li .user-name h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 0;
    word-break: break-word;
}

.sidebar li:hover a {
    background: var(--main-sidebar-hover-color);
    box-shadow: inset 3px 5px 10px rgba(0, 0, 0, .2);
    transition: all ease-in-out .3s;
}

.sidebar li:hover a svg path {
    fill: var(--text-hover-color);
    transition: all ease-in-out .3s;
}

.sidebar li:hover .links_name {
    color: var(--text-hover-color);
    transition: all ease-in-out .3s;
}


.home-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 100px;
    width: calc(100% - 100px);
    transition: all 0.5s ease;
    z-index: 2;
}

.section-box {
    padding: 15px;
    background: #FFF;
    box-shadow: 0 10px 20px rgb(0 0 0 / 8%);
    border-radius: 8px;
    margin-bottom: 10px;
}

.main-heading {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    letter-spacing: 1px;
}

.credits-details {
    background: #E8EFF9;
    padding: 5px 7px;
    border-radius: 90px;
    display: inline-flex;
    align-items: center;
}

.align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}

.credits-icon {
    width: 35px;
    height: 35px;
    background: #DC9832;
    border-radius: 100%;
    text-align: center;
    line-height: 36px;
}

.credits-details .credits-text {
    color: #DC9832;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}

.credits-details span {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
}

.credits-details span {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
}

.add-credit {
    width: 24px;
    height: 24px;
    background: #0071CF;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    font-weight: 700;
    transition: all ease-in-out.3s;
}

.add-credit:hover {
    background: transparent;
    border: 2px solid #0071CF;
    color: #0071CF;
    text-decoration: none;
    transition: all ease-in-out.3s;
}

.card-section {
    text-align: center;
    margin-bottom: 12px;
}

.product-pricing-box {
    position: relative;
    background: var(--card-bg-);
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.product-pricing-box:hover {
    background: #f3faff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all ease-in-out .3s;
}

.product-pricing-box::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 80px;
    height: 80px;
    background: #229ff2;
    border-radius: 100%;
    opacity: 0;
    transition: all ease-in-out .3s;
}

.product-pricing-box:hover::after {
    opacity: 1;
    transition: all ease-in-out .3s;
}

.pricing-box-value {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.product-pricing-box .pricing-box-value h6 {
    font-size: 22px;
    font-weight: 600;
}

.product-pricing-box .pricing-box-value span {
    font-size: 12px;
}

.pricing-box-content h5 {
    font-size: 16px;
    font-weight: 600;
    color: #0C86EE;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 12px !important;
}

.pricing-box-content p {
    color: #5A6063;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.product-pricing-box:hover .card-section-1 svg {
    top: -34px;
    transform: scale(0.7);
    z-index: 1;
    transition: all ease-in-out .3s;
}

.product-pricing-box:hover .card-section-1 svg path {
    fill: var(--card-bg-);
}

.card-section-1 svg {
    position: relative;
    transition: all ease-in-out .3s;
    width: 60px;
    height: 60px;
}

.product-detail-box {
    position: relative;
    background: var(--card-bg-);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    transition: all ease-in-out .3s;
}

.product-detail-box svg {
    position: relative;
    transition: all ease-in-out .3s;
    width: 60px;
    height: 60px;
}

.product-pricing-box:hover .card-section-1 svg {
    top: -34px;
    transform: scale(0.7);
    z-index: 1;
    transition: all ease-in-out .3s;
}

.pricing-box-value svg path {
    fill: #DC9832;
}

/* .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-12.d-flex:not(:last-child) .product-detail-box  {
    margin-bottom: 50px;
} */

.mb-7 {
    margin-bottom: 7rem;
}



.flex-100 {
    flex: 1;
}

.flex-direction-column {
    flex-direction: column;
}

.breadcrumb {
    background: #FFFFFF;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.credentials-img {
    width: 50%;
    padding: 0px 0 0px 10px;
}

.credentials-content {
    width: 50%;
    padding: 20px 0 20px 50px;
}

.credentials-img svg {
    border-right: 1px solid rgba(153, 153, 153, .4);
    padding: 0 60px 0 0;
    width: 100%;
    margin: 30px 0;
}

.credentials-details {
    display: flex;
    flex-wrap: wrap;
}

.content-copy {
    display: inline-block;
    background-color: #8E8E93;
    border-radius: 7px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    width: 40px;
    text-align: center;
}

.content-copy i {
    color: #ffffff;
    font-size: 18px;
}

.custom-primary-btn {
    background: #139AF6;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 6px 16px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.custom-secondry-btn {
    color: #139AF6;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #139AF6;
    border-radius: 7px;
    padding: 6px 12px;
    transition: all ease-in-out .3s;
    background: transparent;
    cursor: pointer;
}

.custom-secondry-btn svg {
    width: 18px;
    height: 18px;
    transition: all ease-in-out .3s;
}

.custom-primary-btn:hover {
    color: #139AF6;
    background: transparent;
    border: 1px solid #139AF6;
    transition: all ease-in-out .3s;
}

.custom-secondry-btn:hover {
    background-color: #139AF6;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all ease-in-out .3s;
}

.custom-label {
    color: #6C757D;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}

button:disabled,
button[disabled] {
    border: 1px solid #7676801F;
    background-color: #7676801F;
    color: #6161704D;
    cursor: no-drop;
}

button:disabled:hover,
button[disabled]:hover {
    border: 1px solid #7676801F;
    background-color: #7676801F;
    color: #6161704D;
    cursor: no-drop;
}

.custom-secondry-btn:hover svg path {
    fill: #FFFFFF;
    transition: all ease-in-out .3s;
}

.custom-form-control {
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    background: #efefef;
    color: #6C757D;
    padding: 18px 15px !important;
}

.custom-form-select {
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    background: #efefef;
    color: #6C757D;
    height: 38px;
}

.sub-heading {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

#redaction_input[type=file] {
    width: 130px;
    color: transparent;
}

.custom-nav-tabs {
    border-bottom: 4px solid transparent;
}

.tab-table-height {
    height: 324px;
    overflow-y: auto;
    background-color: rgb(241, 241, 241);
    margin-bottom: 7px;
}

.custom-nav-tabs.nav-tabs .nav-link {
    border: none;
}

.custom-nav-tabs.nav-tabs .nav-item.show .nav-link,
.custom-nav-tabs.nav-tabs .nav-link.active {
    border-bottom: 4px solid #1084d3;
    background: #dce1ee;
}

#full_screen_view {
    font-size: 16px;
    cursor: pointer;
}


#Statement_analysis {
    font-size: 16px;
}

/* PDF Upload */
#pdf_upload {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border: 1px solid #dce1ee;
}

#pdf_upload i {
    font-size: 28px;
}

#pdf_upload #close_input {
    cursor: pointer;
}

/* Toaster */
.toast2 {
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 2rem;
}

.toast2 .toast-body {
    display: flex;
    padding: 0rem;
    align-items: center;
    font-size: 15px;
}

.toast2 i {
    color: #fff;
    font-size: 25px;
    /* padding-right: 10px; */
}

button.ml-2.mb-1.close {
    color: #fff;
    opacity: 1;
    font-size: 20px;
}
