<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Image Display</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <style>
        img {
            max-width: 400px;
            height: auto;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>Real-time Image Display with WebSocket</h1>
    <button id="triggerButton">Trigger API</button>
    <div id="imageContainer">
        <img id="dynamicImage" src="" alt="Image will appear here...">
    </div>


    <textarea id="image_to_text" style="width: 527px; height: 257px;"></textarea>


    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var socket = io();

            // Listen for image updates
            socket.on('image_updates', function (data) {
                // console.log('Image URL received:', "data:image/png;base64," + data['image_url']['image']);
                var img = document.getElementById('dynamicImage');
                img.src = "data:image/png;base64," + data['image_url']['image']  // Set the image source


                const dataToSend = {
                    image_url: './static/5229992.jpg',
                    message: 'Hello from the client!'
                };
                socket.emit('trigger_api', dataToSend);

            });

            socket.on('text_Data', function (data) {

                console.log(data);

                document.getElementById('image_to_text').value = data.data.message


            });

            // Trigger API when button is clicked
            document.getElementById('triggerButton').addEventListener('click', function () {
                socket.emit('trigger_apis');
                console.log("yesss");

            });
        });
    </script>
</body>

</html>