<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usage Insights - bluBeetle.ai</title>

    {% set User_Portal_urls = User_Portal_urls() %}
    {% if User_Portal_urls %}
    {{ User_Portal_urls | safe }}
    {% endif %}
</head>

<body>

    <!-- Side-Bar -->
    {% set User_portal_sidebar = User_portal_sidebar() %}
    {% if User_portal_sidebar %}
    {{ User_portal_sidebar | safe }}
    {% endif %}

    <section class="home-section">

        <!-- Topbar -->
        {% set User_portal_topbar = User_portal_topbar(user_details) %}
        {% if User_portal_topbar %}
        {{ User_portal_topbar | safe }}
        {% endif %}


        <!-- Page Content -->
        <div class="main">
            <div>

                <!-- Route Headers -->
                {% set User_portal_headers = User_portal_headers(page_info) %}
                {% if User_portal_headers %}
                {{ User_portal_headers | safe }}
                {% endif %}

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="cc-box">
                            <div class="cc-box-padding">
                                <p class="comming-text">Coming Soon</p>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Chat Bot -->
                {% set User_chatbot = User_chatbot() %}
                {% if User_chatbot %}
                {{ User_chatbot | safe }}
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Credit Pop-up -->
    {% set User_portal_credits_modal = User_portal_credits_modal(page_info) %}
    {% if User_portal_credits_modal %}
    {{ User_portal_credits_modal | safe }}
    {% endif %}


</body>

</html>