<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usage Insights - bluBeetle.ai</title>

    {% set User_Portal_urls = User_Portal_urls() %}
    {% if User_Portal_urls %}
    {{ User_Portal_urls | safe }}
    {% endif %}
</head>

<body>
    <!-- Topbar -->
    {% set User_portal_topbar = User_portal_topbar(user_name) %}
    {% if User_portal_topbar %}
    {{ User_portal_topbar | safe }}
    {% endif %}

    <section class="main-part">
        <!-- Side-Bar -->
        {% set User_portal_sidebar = User_portal_sidebar() %}
        {% if User_portal_sidebar %}
        {{ User_portal_sidebar | safe }}
        {% endif %}

        <!-- Page Content -->
        <div class="page-content">
            <div class="c-page-padding">
                <div>
                    <div class="row">
                        <div class="col-12 c-heading-common">
                            <h1 class="main-heading">Usage Insights</h1>
                            <div class="testing-credit">
                                <p class="testing-credit-text">Testing Credit</p>
                                <p class="testing-credit-digit"><i class="ri-task-line"></i>
                                    <span>{{test_credit[0]["Used_Credits"]}} / {{test_credit[0]["Test_Credit"]}} </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="text-center bold display-1">Comming Soon</h1>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>



</body>

</html>