<header>
    <div class="c-container">
        <nav>
            <div class="logo">
                <img src="../../static/images/logo.png" alt="">
                <div class="c-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>

            <div class="right-btn">
                <span>{{name}}</span>
                <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="../static/images/profile.png" width="40" height="40" class="rounded-circle">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Dashboard</a>
                    <!-- <a class="dropdown-item" href="#">Edit Profile</a> -->
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>