<div class="side-bar">
    <div class="side-nav">
        <ul id="side-main-menu">
            <li class="c-menu">
                <a href="/BBRgt/dashboard">
                    <i class="ri-home-8-line c-menu-icon"></i> Dashboard
                </a>
            </li>

            <li class="c-menu">
                <a href="/BBRgt/api-infos">
                    <i class="ri-information-line  c-menu-icon"></i> Api Information
                </a>
            </li>

            <li class="c-menu">
                <a href="/BBRgt/default-credits">
                    <i class="ri-bank-card-2-fill  c-menu-icon"></i> Default Credits
                </a>
            </li>

            <!-- <li class="toggle-dropdown c-menu">
                <a href="#menu1sub1sub1" data-toggle="collapse" class="dd-flex" aria-expanded="true">
                    <div>
                        <i class="ri-bank-card-2-fill c-menu-icon"></i> Credits Info
                    </div>
                    <i class="ri-arrow-down-s-line side-menu-arrow"></i>
                </a>

            </li>
            <div class="collapse" id="menu1sub1sub1">
                <a href="#" class="list-group-item c-menu">Test Credits</a>
                <a href="#" class="list-group-item c-menu">Production Credits</a>
                <a href="/BBRgt/default-credits" class="list-group-item c-menu">Default Credits</a>
            </div> -->

            <li class="c-menu">
                <a href="/BBRgt/user-details">
                    <i class="ri-group-fill c-menu-icon"></i> User List
                </a>
            </li>

            <li class="toggle-dropdown c-menu">
                <a href="#menuforusertype" data-toggle="collapse" class="dd-flex" aria-expanded="true">
                    <div>
                        <i class="ri-user-settings-fill c-menu-icon"></i> User Type
                    </div>
                    <i class="ri-arrow-down-s-line side-menu-arrow"></i>
                </a>

            </li>
            <div class="collapse" id="menuforusertype">
                <a href="#" class="list-group-item c-menu">Test User</a>
                <a href="/BBRgt/production-user" class="list-group-item c-menu">Production User</a>
            </div>

            <!-- <li href="#menu1sub1sub1" data-toggle="collapse" aria-expanded="false">
                <a href="#">
                    <i class="ri-community-line c-menu-icon"></i> Company List
                </a>
            </li>
            <div class="collapse" id="menu1sub1sub1">
                <a href="#" class="list-group-item">Subitem 3 c.1</a>
                <a href="#" class="list-group-item">Subitem 3 c.2</a>
            </div>
 -->

        </ul>
    </div>
</div>