<div class="side-bar">
    <div class="side-nav">
        <ul>
            <li>
                <a href="/BBRgt/dashboard">
                    <i class="ri-home-2-line c-menu-icon"></i> Dashboard
                </a>
            </li>

            <li>
                <a href="/BBRgt/Company-details">
                    <i class="ri-community-line c-menu-icon"></i> Company List
                </a>
            </li>
            
            <!-- <li href="#menu1sub1sub1" data-toggle="collapse" aria-expanded="false">
                <a href="/BBRgt/Company-details">
                    <i class="ri-community-line c-menu-icon"></i> Company List
                </a>
            </li>
            <div class="collapse" id="menu1sub1sub1">
                <a href="#" class="list-group-item">Subitem 3 c.1</a>
                <a href="#" class="list-group-item">Subitem 3 c.2</a>
            </div> -->


            <li>
                <a href="#">
                    <i class="ri-database-2-line c-menu-icon"></i> Db Logs
                </a>
            </li>

        </ul>
    </div>
</div>