<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BlueBeetle.ai</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% set Landing_routes_Urls = Landing_routes_Urls() %}
    {% if Landing_routes_Urls %}
    {{ Landing_routes_Urls | safe }}
    {% endif %}


</head>

<body>

    {% set Landing_Page_Topbar = Landing_Page_Topbar() %}
    {% if Landing_Page_Topbar %}
    {{ Landing_Page_Topbar | safe }}
    {% endif %}

    <section class="contact-us-section">
        <div class="colomn-heading-inner heading">
            <h3 class="white-heading">Bank Statement Analysis API</h3>
        </div>
        <div class="common-inner-page-padding">
            <div class="discription-of-product">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <img src="../../static/landing_images/bank-statement-analysis.png" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                            <div class="inner-page-text">

                                <p> The Bank Statement Analyzer API automates the extraction and analysis of data from
                                    bank statements.
                                </p>
                                <p> This API identifies key financial metrics such as income, expenses, and transaction
                                    patterns.</p>
                                <p>It is widely used in lending, financial planning, and credit scoring applications,
                                    allowing for
                                    accurate financial analysis with minimal manual intervention.</p>

                                <a href="/login/user" class="menu-link btn-2 btn-3">Try API</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="advantage-of-product">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="advantages-box">
                                <div class="ad-icon1">
                                    <img src="../../static/landing_images/validation.svg" alt="">
                                </div>
                                <div class="ad-text1">
                                    <h3>Automated Data Extraction</h3>
                                    <p>Eliminates manual effort in extracting statement data.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="advantages-box">
                                <div class="ad-icon1">
                                    <img src="../../static/landing_images/finance.svg" alt="">
                                </div>
                                <div class="ad-text1">
                                    <h3>Detailed Analysis</h3>
                                    <p> Provides insights into spending patterns, income, and savings.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="advantages-box">
                                <div class="ad-icon1">
                                    <img src="../../static/landing_images/data-management.svg" alt="">
                                </div>
                                <div class="ad-text1">
                                    <h3>Customizable Output</h3>
                                    <p>Tailor the analysis to meet specific financial reporting needs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="integration-part">

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="focus-heading black-font text-center">A one-time, trouble-free integration</h3>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-12 col-12">
                            <div class="integration-box">
                                <div class="intr-f">
                                    <p><svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle"
                                            viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                                            </path>
                                        </svg> </p>
                                    <p> Unlike other platforms, bluBeetle API is built with both businesses and
                                        developers in mind.</p>
                                </div>
                                <div class="intr-f">
                                    <p><svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle"
                                            viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                                            </path>
                                        </svg> </p>
                                    <p> Our easy-to-follow documentation and dedicated support team ensure you have all
                                        you need for
                                        successful API integration.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                            <div class="integration-box">
                                <h3>API For Developers</h3>
                                <div class="inter-btn">
                                    <a href="#">API Documentation <i class="ri-arrow-right-line"></i></a>
                                    <a href="#">API Documentation <i class="ri-arrow-right-line"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="advantage-of-product">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="focus-heading black-font text-center">Where Can You Use this API?</h3>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="advantages-box use-api">

                                <div class="ad-text1 text-left">
                                    <h3>Loan Processing</h3>
                                    <p> Analyze applicants' bank statements to assess creditworthiness for personal or
                                        business loans.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="advantages-box use-api">

                                <div class="ad-text1 text-left">
                                    <h3>Accounting Automation</h3>
                                    <p>Automate the reconciliation process by extracting and categorizing transactions
                                        from statements.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="advantages-box use-api">

                                <div class="ad-text1 text-left">
                                    <h3>Expense Tracking</h3>
                                    <p>Provide users with insights into their spending patterns based on bank statement
                                        analysis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="advantages-box use-api">

                                <div class="ad-text1 text-left">
                                    <h3>Fraud Detection</h3>
                                    <p>Detect unusual transactions by analyzing bank statement trends for
                                        inconsistencies.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="integration-part">

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="focus-heading black-font text-center mb-4">Get Your API Access and Secure Your
                                Business Today
                            </h3>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="c-label mandatory">First Name <span
                                        class="mandatory-sign">*</span></label>
                                <div class="input-group input-group-sm">
                                    <input id="" type="text" name="mobile" class="form-control c-form-control mobile"
                                        onkeypress="" value="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="c-label mandatory">Last Name <span class="mandatory-sign">*</span></label>
                                <div class="input-group input-group-sm">
                                    <input id="" type="text" name="mobile" class="form-control c-form-control mobile"
                                        onkeypress="" value="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="c-label mandatory">Mobile <span class="mandatory-sign">*</span></label>
                                <div class="input-group input-group-sm">
                                    <input id="" type="text" name="mobile" class="form-control c-form-control mobile"
                                        onkeypress="" value="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="c-label mandatory">Email <span class="mandatory-sign">*</span></label>
                                <div class="input-group input-group-sm">
                                    <input id="" type="text" name="mobile" class="form-control c-form-control mobile"
                                        onkeypress="" value="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="c-label mandatory">Message</label>
                                <div class="input-group input-group-sm">
                                    <textarea name="" id="" class="form-control c-form-control mobile"></textarea>

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="/login/user" class="menu-link btn-2 btn-3 mt-2">Submit</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    {% set Landing_Page_Footer = Landing_Page_Footer() %}
    {% if Landing_Page_Footer %}
    {{ Landing_Page_Footer | safe }}
    {% endif %}


    <script nonce="{{ g.nonce }}">

        $(document).ready(function () {
            // Toggle to show and hide navbar menu
            const navbarMenu = document.getElementById("menu");
            const burgerssMenu = document.getElementById("burgerss");

            burgerssMenu.addEventListener("click", () => {
                navbarMenu.classList.toggle("is-active");
                burgerssMenu.classList.toggle("is-active");
            });

        })
        // Toggle to show and hide dropdown menu
        const dropdown = document.querySelectorAll(".dropdown");

        dropdown.forEach((item) => {
            const dropdownToggle = item.querySelector(".dropdown-toggle");

            dropdownToggle.addEventListener("click", () => {
                const dropdownShow = document.querySelector(".dropdown-show");
                toggleDropdownItem(item);

                // Remove 'dropdown-show' class from other dropdown
                if (dropdownShow && dropdownShow != item) {
                    toggleDropdownItem(dropdownShow);
                }
            });
        });

        // Function to display the dropdown menu
        const toggleDropdownItem = (item) => {
            const dropdownContent = item.querySelector(".dropdown-content");

            // Remove other dropdown that have 'dropdown-show' class
            if (item.classList.contains("dropdown-show")) {
                dropdownContent.removeAttribute("style");
                item.classList.remove("dropdown-show");
            } else {
                // Added max-height on active 'dropdown-show' class
                dropdownContent.style.height = dropdownContent.scrollHeight + "px";
                item.classList.add("dropdown-show");
            }
        };

        // Fixed dropdown menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                document.querySelectorAll(".dropdown-content").forEach((item) => {
                    item.removeAttribute("style");
                });
                dropdown.forEach((item) => {
                    item.classList.remove("dropdown-show");
                });
            }
        });

        // Fixed navbar menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                const navbarMenu = document.getElementById("menu");
                const burgerssMenu = document.getElementById("burgerss");
                if (navbarMenu.classList.contains("is-active")) {
                    navbarMenu.classList.remove("is-active");
                    burgerssMenu.classList.remove("is-active");
                }
            }
        });
    </script>



</body>

</html>