<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bluBeetle.ai</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% set Landing_routes_Urls = Landing_routes_Urls() %}
    {% if Landing_routes_Urls %}
    {{ Landing_routes_Urls | safe }}
    {% endif %}


</head>

<body>

    {% set Landing_Page_Topbar = Landing_Page_Topbar() %}
    {% if Landing_Page_Topbar %}
    {{ Landing_Page_Topbar | safe }}
    {% endif %}

    <section class="api-headers">
        <div class="common-inner-page-padding">
            <div class="discription-of-product">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <img src="../../static/landing_images/KYC-quality-check.png" alt="">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                            <h3 class="api-info-headers">KYC Quality Check API</h3>
                            <div class="inner-page-text">

                                <p>The Image Quality Assessment API evaluates various
                                    attributes of an image, such as sharpness, blur, brightness,
                                    noise and cut card to determine its overall quality.</p>
                                <p>This API helps
                                    companies
                                    filter out low-quality images, ensuring that only high-quality
                                    visuals are used in applications, whether for e-commerce,
                                    social media, or content production</p>

                                <a href="/login/user" class="btn-2 btn-3">
                                    Try API
                                    <i class="ri-arrow-right-line right-arrow-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advantage-of-product">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="advantages-box">
                                <div class="ad-icon1">
                                    <img src="../../static/landing_images/image-quality.svg" alt="">
                                </div>
                                <div class="ad-text1">
                                    <h3>Automated Image Quality Check</h3>
                                    <p>Quickly assess image quality without human intervention.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="advantages-box">
                                <div class="ad-icon1">
                                    <img src="../../static/landing_images/improve-processing.svg" alt="">
                                </div>
                                <div class="ad-text1">
                                    <h3>Improves Processing Efficiency</h3>
                                    <p>Filters out low-quality images before further processing.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="advantages-box">
                                <div class="ad-icon1">
                                    <img src="../../static/landing_images/customize-para.svg" alt="">
                                </div>
                                <div class="ad-text1">
                                    <h3>Customizable Parameters</h3>
                                    <p>Set thresholds based on your quality requirements.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="integration-part">

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="focus-heading black-font text-center">A one-time, trouble-free integration</h3>
                        </div>
                        <div class="col">
                            <div class="integration-box">
                                <div class="intr-f">
                                    <p><svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle"
                                            viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                                            </path>
                                        </svg> </p>
                                    <p> Unlike other platforms, bluBeetle API is built with both businesses and
                                        developers in mind.</p>
                                </div>
                                <div class="intr-f">
                                    <p><svg aria-hidden="true" class="e-font-icon-svg e-fas-check-circle"
                                            viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                                            </path>
                                        </svg> </p>
                                    <p> Our easy-to-follow documentation and dedicated support team ensure you have all
                                        you need for
                                        successful API integration.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="advantage-of-product">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="focus-heading black-font text-center">Where Can You Use this API?</h3>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="advantages-box use-api">

                                <div class="ad-text1 text-left">
                                    <h3>E-commerce</h3>
                                    <p> Assess product images uploaded by sellers to ensure they meet platform quality
                                        standards.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="advantages-box use-api">

                                <div class="ad-text1 text-left">
                                    <h3>Media</h3>
                                    <p>Filter and reject low-quality or blurry images before posting or sharing.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="advantages-box use-api">

                                <div class="ad-text1 text-left">
                                    <h3>Photo Printing Services</h3>
                                    <p>Automatically determine if images are of high enough quality for printing.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="advantages-box use-api">

                                <div class="ad-text1 text-left">
                                    <h3>Surveillance Systems</h3>
                                    <p>Analyze and maintain high-quality footage in security systems by flagging
                                        poor-quality images</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Footer -->
    {% set Landing_Page_Footer = Landing_Page_Footer() %}
    {% if Landing_Page_Footer %}
    {{ Landing_Page_Footer | safe }}
    {% endif %}


    <!-- Page Javascript -->
    {% include 'landing_common_js.html' %}

    <script nonce="{{ g.nonce }}">

        $(document).ready(function () {
            // Toggle to show and hide navbar menu
            const navbarMenu = document.getElementById("menu");
            const burgerssMenu = document.getElementById("burgerss");

            burgerssMenu.addEventListener("click", () => {
                navbarMenu.classList.toggle("is-active");
                burgerssMenu.classList.toggle("is-active");
            });

        })
        // Toggle to show and hide dropdown menu
        const dropdown = document.querySelectorAll(".dropdown");

        dropdown.forEach((item) => {
            const dropdownToggle = item.querySelector(".dropdown-toggle");

            dropdownToggle.addEventListener("click", () => {
                const dropdownShow = document.querySelector(".dropdown-show");
                toggleDropdownItem(item);

                // Remove 'dropdown-show' class from other dropdown
                if (dropdownShow && dropdownShow != item) {
                    toggleDropdownItem(dropdownShow);
                }
            });
        });

        // Function to display the dropdown menu
        const toggleDropdownItem = (item) => {
            const dropdownContent = item.querySelector(".dropdown-content");

            // Remove other dropdown that have 'dropdown-show' class
            if (item.classList.contains("dropdown-show")) {
                dropdownContent.removeAttribute("style");
                item.classList.remove("dropdown-show");
            } else {
                // Added max-height on active 'dropdown-show' class
                dropdownContent.style.height = dropdownContent.scrollHeight + "px";
                item.classList.add("dropdown-show");
            }
        };

        // Fixed dropdown menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                document.querySelectorAll(".dropdown-content").forEach((item) => {
                    item.removeAttribute("style");
                });
                dropdown.forEach((item) => {
                    item.classList.remove("dropdown-show");
                });
            }
        });

        // Fixed navbar menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                const navbarMenu = document.getElementById("menu");
                const burgerssMenu = document.getElementById("burgerss");
                if (navbarMenu.classList.contains("is-active")) {
                    navbarMenu.classList.remove("is-active");
                    burgerssMenu.classList.remove("is-active");
                }
            }
        });

        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    </script>



</body>

</html>