<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BlueBeetle.ai</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% set Landing_routes_Urls = Landing_routes_Urls() %}
    {% if Landing_routes_Urls %}
    {{ Landing_routes_Urls | safe }}
    {% endif %}


</head>

<body>

    {% set Landing_Page_Topbar = Landing_Page_Topbar() %}
    {% if Landing_Page_Topbar %}
    {{ Landing_Page_Topbar | safe }}
    {% endif %}

    <section class="contact-us-section">
        <div class="colomn-heading-inner heading">
            <h3 class="white-heading">License and Agreement</h3>
        </div>
        <div class="common-inner-page-padding">
            <div class="discription-of-product">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="inner-page-text">
                                <p>BY AFFIXING YOUR SIGNATURE TO THE FEE QUOTATION, YOU ARE CONSENTING AND AGREEING TO
                                    BE BOUND BY AND
                                    ARE BECOMING A PARTY TO THIS AGREEMENT.</p>
                                <p>This Setup Support Services Agreement (“Agreement”) is between Blubeetle and You for
                                    the rendering of
                                    support services in relation to integration and aid the use of Blubeetle’s Products
                                    and Services
                                    (defined below). </p>
                                <p>This Agreement governs the integration of support services pertaining to various
                                    verification and
                                    related products and/or services “KYC Quality Check” , “Aadhar Redaction” ,
                                    “ITR Statement Analyzer” or such other services (offered by Blubeetle
                                    from time to time)
                                    as may be opted by You (“Blubeetle Products and Services”).</p>

                                <h2 class="footer-heading">1. Definitions and Interpretations</h2>
                                <ul style="margin-left: 45px;">
                                    <li style="list-style-type: lower-alpha;">
                                        <p>References to “Blubeetle”, “Ourselves”, “We” or “Us” in this Agreement, are
                                            to BluBeetle, a subsidiary of Craft Silicon.
                                        </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>References to “User”, “Client”, “Customer”, “You” and “Your” refers to you,
                                            the person or the
                                            user availing the Integration Services of Blubeetle Products and Services as
                                            offered by Blubeetle
                                            from time to time. These terms “User”, “Client”, shall be construed
                                            accordingly. </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>References to the “Website” in this Agreement shall mean
                                            https://regtech.blubeetle.ai/
                                            and include reference
                                            to its contents. </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>References to “Party”, “Parties” or “Us” are to the Customer and Blubeetle.
                                        </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>References to “Applicable Law” means any law, rule, regulation, direction,
                                            master direction,
                                            circular, notification, ordinance, order, treaty, judgment, decree,
                                            injunction, permit, or
                                            decision of any central, state or local government, authority, agency,
                                            court, or other body having
                                            jurisdiction over the matter in question, as may be in force from time to
                                            time. </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>References to “Confidential Information” means any information (regardless of
                                            being identified or
                                            marked as ‘confidential or ‘proprietary’) received by one Party in relation
                                            to the other Party
                                            including:</p>
                                    </li>
                                    <ul style="margin-left: 45px;">
                                        <li style="list-style-type: circle;">
                                            <p> all information regarding any affiliates, group companies, businesses,
                                                employees, customers,
                                                suppliers, contractors, other third parties conducting business with
                                                such other Party,
                                                affiliates, group companies, customers, or other technical and
                                                commercial matters </p>
                                        </li>
                                        <li style="list-style-type: circle;">
                                            <p> customer identification information, sensitive personal information,
                                                products, services,
                                                legal, financial, commercial, marketing, and business-related records,
                                                data, documents, reports,
                                                drawings, models, samples, disks, data, client information, any copies
                                                thereof; </p>
                                        </li>
                                        <li style="list-style-type: circle;">
                                            <p> any information which is marked as ‘confidential,’ and </p>
                                        </li>
                                        <li style="list-style-type: circle;">
                                            <p> any information which according to Applicable Law is confidential or
                                                sensitive information.
                                            </p>
                                        </li>
                                    </ul>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>References to “Intellectual Property” means any and all of the following in
                                            any jurisdiction
                                            throughout the world:</p>
                                    </li>
                                    <ul style="margin-left: 45px;">
                                        <li style="list-style-type: circle;">
                                            <p> trademarks and service marks, including all applications and
                                                registrations, and the goodwill
                                                connected with the use of and symbolized by the foregoing; </p>
                                        </li>
                                        <li style="list-style-type: circle;">
                                            <p> copyrights, including all applications and registrations related to the
                                                foregoing; trade secrets and confidential know-how; patents and patent applications; </p>
                                        </li>
                                        <li style="list-style-type: circle;">
                                            <p> websites and internet domain name registrations, and other intellectual
                                                property and
                                                proprietary rights, interests, and protections (including all rights to
                                                sue and recover and
                                                retain damages, costs, and attorneys’ fees for past, present, and future
                                                infringement, and any
                                                other rights relating to any of the foregoing). </p>
                                        </li>
                                    </ul>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>References to “Permits” means all material licenses, consents, franchises,
                                            permits, certificates,
                                            approvals, and authorizations, from governmental authorities or third
                                            parties necessary for the
                                            ownership and operation of the party’s business. </p>
                                    </li>
                                    <ul style="margin-left: 45px;">
                                        <li style="list-style-type: circle;">
                                            <p>References to “Fee Quotation” means the quotation setting out the fees,
                                                associated commercial
                                                terms, and services agreed between the User and Blubeetle with respect
                                                to Blubeetle Products and
                                                Services. </p>
                                        </li>
                                    </ul>
                                </ul>
                                <h2 class="footer-heading">2. Integration Services – Scope and Fees</h2>
                                <p>Blubeetle shall provide on a commercially reasonable basis, advisory and support
                                    services in relation
                                    to the integration of Blubeetle Products and Services as set out on the
                                    (“Integration Services“) with
                                    Your systems and software. Blubeetle shall use its commercially reasonable efforts
                                    for performing such
                                    Integration Services that may be requested by You to integrate, assimilate, or
                                    otherwise to function
                                    with Your systems, the fee for which is provided in the Fee Quotation.</p>
                                <h2 class="footer-heading">3. Term</h2>
                                <p>This Agreement shall commence on the date of acceptance of this Agreement and shall
                                    remain in force
                                    until terminated in accordance with the provisions hereof (“Term”).</p>
                                <h2 class="footer-heading">4. Representations and Warranties</h2>
                                <p>Each Party hereby represents and undertakes to the other Party that:</p>
                                <ul style="margin-left: 45px;">
                                    <li style="list-style-type: lower-alpha;">
                                        <p>it is a body corporate duly incorporated under the laws of India; </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>it has the power and authority to execute and deliver this Agreement and upon
                                            execution and
                                            delivery of the same, it shall be a legal, valid, and binding obligation of
                                            that Party enforceable
                                            in accordance with its terms; and </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>the execution and delivery of this Agreement have been duly authorized by
                                            necessary corporate
                                            actions and approvals and do not require any further authorization or
                                            consent of its shareholders
                                            or Permits from any third party. </p>
                                    </li>
                                </ul>
                                <h2 class="footer-heading">5. Intellectual Property Rights</h2>
                                <p>Each Party acknowledges that, as between the Parties, the other Party owns all right,
                                    title, and
                                    interest in and to such other Party’s Intellectual Property rights, whether
                                    presently existing or
                                    later developed by such other Party. Nothing herein shall give either Party any
                                    right, title, or
                                    interest in any of the other Party’s Intellectual Property rights, or, except as
                                    provided herein, any
                                    right to use any of the other Party’s Intellectual Property rights in any manner.
                                </p>
                                <ul style="margin-left: 45px;">
                                    <li style="list-style-type: lower-alpha;">
                                        <p>You agree that Blubeetle shall retain absolute ownership and all rights,
                                            title, and interest to
                                            the Blubeetle Products and Services provided to You and does not convey any
                                            proprietary rights or
                                            other interest therein or in the services to You by virtue of this
                                            Agreement. You shall have an
                                            only limited right to avail of the Integration Services offered under the
                                            terms of this Agreement.
                                        </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>You hereby agree and undertake not to reproduce, communicate, modify or
                                            reverse engineer any
                                            software of Blubeetle. </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>Blubeetle/Blubeetle.ai is an exclusive trademark of Blubeetle, and use of
                                            the same would require
                                            prior written permission of Blubeetle. The software and system developed by
                                            Blubeetle solely
                                            belong to Blubeetle. </p>
                                    </li>
                                </ul>
                                <h2 class="footer-heading">6. Confidentiality Obligations</h2>
                                <ul style="margin-left: 45px;">
                                    <li style="list-style-type: lower-alpha;">
                                        <p>Each Party recognizes that in the course of the transactions envisaged in
                                            this Agreement, it may
                                            become privy to Confidential Information, whether in oral, written, audio,
                                            or visual form, as a
                                            result of this Agreement or the transactions envisaged under this Agreement.
                                        </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>Each Party agrees that it shall: </p>
                                    </li>
                                    <ul style="margin-left: 45px;">
                                        <li style="list-style-type: circle;">
                                            <p> keep confidential all the Confidential Information and shall not,
                                                without the prior written
                                                consent of the other Party, divulge such Confidential Information to any
                                                third party; </p>
                                        </li>
                                        <li style="list-style-type: circle;">
                                            <p>limit internal dissemination of such Confidential Information to only
                                                those individuals whose
                                                duties justify their need to know such information; </p>
                                        </li>
                                        <li style="list-style-type: circle;">
                                            <p> use the Confidential Information only for the purposes contemplated in
                                                this Agreement or for
                                                which it was provided and not profit from the same in an unauthorized
                                                manner; </p>
                                        </li>
                                        <li style="list-style-type: circle;">
                                            <p> provide for the preservation of all Confidential Information in
                                                accordance with the
                                                requirements of Applicable Law; </p>
                                        </li>
                                        <li style="list-style-type: circle;">
                                            <p> immediately upon request by the other Party, return or destroy all
                                                Confidential Information
                                                together with any copies thereof; and </p>
                                        </li>
                                        <li style="list-style-type: circle;">
                                            <p> maintain secure systems to ensure that there is no breach of its own
                                                internal security which
                                                may result in any leakage or disclosure of Confidential Information to
                                                any third party. </p>
                                        </li>
                                    </ul>
                                </ul>
                                <h2 class="footer-heading">7. Term and Termination</h2>
                                <p>This Agreement may be terminated by:</p>
                                <ul style="margin-left: 45px;">
                                    <li style="list-style-type: lower-alpha;">
                                        <p>either Party upon 30 (thirty) days prior written notice to the other Party of
                                            its desire to do
                                            so; </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>either Party by written notice of 7 (seven) Business Days to the other party
                                            if a law, order or
                                            government decision comes into force which makes it unlawful for either You
                                            or Blubeetle to carry
                                            on their respective businesses; </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>either Party with immediate effect in the event that the other Party
                                            materially breaches its
                                            obligations hereunder in a manner that is irremediable, or if the other
                                            Party fails to remedy a
                                            remediable breach within 30 (thirty) days of being put on notice of such
                                            breach by the
                                            non-breaching Party; or </p>
                                    </li>
                                    <li style="list-style-type: lower-alpha;">
                                        <p>either Party if a petition for winding-up, liquidation, striking off of the
                                            register, bankruptcy,
                                            or dissolution of the other Party is admitted by a court of law in India.
                                        </p>
                                    </li>

                                </ul>
                                <h2 class="footer-heading">8. Indemnification</h2>
                                <p>Without prejudice to any other right available under Applicable Law, You
                                    (“Indemnifying Party”) shall
                                    indemnify, defend, and hold harmless Blubeetle, its affiliates, directors, officers,
                                    and employees
                                    (collectively, the “Indemnified Parties”) from and against any and all losses,
                                    liabilities, damages,
                                    claims, actions, judgments or causes of action, assessments, interests, penalties,
                                    and other costs or
                                    expenses </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {% set Landing_Page_Footer = Landing_Page_Footer() %}
    {% if Landing_Page_Footer %}
    {{ Landing_Page_Footer | safe }}
    {% endif %}


    <script nonce="{{ g.nonce }}">

        $(document).ready(function () {
            // Toggle to show and hide navbar menu
            const navbarMenu = document.getElementById("menu");
            const burgerssMenu = document.getElementById("burgerss");

            burgerssMenu.addEventListener("click", () => {
                navbarMenu.classList.toggle("is-active");
                burgerssMenu.classList.toggle("is-active");
            });

        })
        // Toggle to show and hide dropdown menu
        const dropdown = document.querySelectorAll(".dropdown");

        dropdown.forEach((item) => {
            const dropdownToggle = item.querySelector(".dropdown-toggle");

            dropdownToggle.addEventListener("click", () => {
                const dropdownShow = document.querySelector(".dropdown-show");
                toggleDropdownItem(item);

                // Remove 'dropdown-show' class from other dropdown
                if (dropdownShow && dropdownShow != item) {
                    toggleDropdownItem(dropdownShow);
                }
            });
        });

        // Function to display the dropdown menu
        const toggleDropdownItem = (item) => {
            const dropdownContent = item.querySelector(".dropdown-content");

            // Remove other dropdown that have 'dropdown-show' class
            if (item.classList.contains("dropdown-show")) {
                dropdownContent.removeAttribute("style");
                item.classList.remove("dropdown-show");
            } else {
                // Added max-height on active 'dropdown-show' class
                dropdownContent.style.height = dropdownContent.scrollHeight + "px";
                item.classList.add("dropdown-show");
            }
        };

        // Fixed dropdown menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                document.querySelectorAll(".dropdown-content").forEach((item) => {
                    item.removeAttribute("style");
                });
                dropdown.forEach((item) => {
                    item.classList.remove("dropdown-show");
                });
            }
        });

        // Fixed navbar menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                const navbarMenu = document.getElementById("menu");
                const burgerssMenu = document.getElementById("burgerss");
                if (navbarMenu.classList.contains("is-active")) {
                    navbarMenu.classList.remove("is-active");
                    burgerssMenu.classList.remove("is-active");
                }
            }
        });
    </script>



</body>

</html>