<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BlueBeetle.ai</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% set Landing_routes_Urls = Landing_routes_Urls() %}
    {% if Landing_routes_Urls %}
    {{ Landing_routes_Urls | safe }}
    {% endif %}


</head>

<body>

    {% set Landing_Page_Topbar = Landing_Page_Topbar() %}
    {% if Landing_Page_Topbar %}
    {{ Landing_Page_Topbar | safe }}
    {% endif %}

    <section class="contact-us-section">
        <div class="colomn-heading-inner heading">
            <h3 class="white-heading">Privacy Policy</h3>
        </div>
        <div class="common-inner-page-padding">
            <div class="discription-of-product">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="inner-page-text">
                                <p>This document sets forth the Privacy Policy in relation to information collected by
                                    Blubeetle in relation to any purpose, or otherwise in connection with its business.
                                </p>
                                <h2 class="footer-heading">API</h2>
                                <p>Application programming interface, as the term is generally understood in the
                                    information technology industry.</p>

                                <h2 class="footer-heading">Grievance Officer</h2>
                                <p>An officer of Blubeetle responsible for addressing any discrepancies and grievances
                                    of persons who provide information to Blubeetle, and whose details are provided in
                                    section 11 of this Policy.</p>

                                <h2 class="footer-heading">Blubeetle</h2>
                                <p>BluBeetle, a subsidiary of Craft Silicon, a company incorporated under the laws of the
                                    Republic of India.</p>

                                <h2 class="footer-heading">Information</h2>
                                <p>Various kinds and manner of personal and/or sensitive information about individuals
                                    or entities, as required for a purpose, which may include: </p>
                                <ul style="margin-left: 45px;">
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Address </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Email </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Educational qualification </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Past employment references </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">‘Sensitive Personal Data or Information,’ as that term is
                                            defined under Rule 3 of the Information Technology (Reasonable Security
                                            Practices and Sensitive Personal Data or Information) Rules, 2011.</p>
                                    </li>
                                </ul>


                                <h2 class="footer-heading">Policy</h2>
                                <p>The Privacy Policy, including any revisions, amendments, and updates thereto.</p>
                                <h2 class="footer-heading">Purpose</h2>
                                <p>Background verification and allied services conducted by Blubeetle on behalf of its
                                    clients and customers, for the purpose of ascertaining a person’s suitability for
                                    employment, verification of antecedents of persons for the purpose of matrimony,
                                    education, tenancy, award nomination, and other related and ancillary purposes.</p>
                                <hr>
                                <h2 class="footer-heading">
                                    PLEASE READ THE POLICY CAREFULLY TO FULLY UNDERSTAND THE NATURE AND PURPOSE OF
                                    GATHERING INFORMATION, USAGE, DISCLOSURE, SECURITY PROCEDURES, AND SHARING OF SUCH
                                    INFORMATION.</h2>
                                <h2 class="footer-heading">Policy Statement</h2>
                                <p>Blubeetle provides a range of background verification and allied services for its
                                    clients through various means, which are enumerated below: </p>

                                <ul style="margin-left: 45px;">
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Through its online service situated at the website
                                            https://regtech.blubeetle.ai/ </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Through the collection of various physical documents from
                                            individuals directly </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Through APIs or other technological or software systems or
                                            methods that gather or receive data from its clients’ servers in a manner
                                            authorized by and agreed with its clients </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Through physical verification of addresses and other locations;
                                            and </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Through communication and correspondence with educational
                                            institutes and universities, and various corporate bodies.</p>
                                    </li>
                                </ul>
                                <p>Blubeetle provides these services for its clients and customers in relation to the
                                    Purpose and undertakes such activities based on the request of interested employers,
                                    educational institutions, landlords, award nominating committees, or individuals
                                    (i.e., prospective candidates) themselves.</p>
                                <p>You may have been directed to provide certain Information for the Purpose to
                                    Blubeetle through any of the means listed above, by or on behalf of a client of
                                    Blubeetle. Note that your use of this website, and your providing any Information to
                                    Blubeetle through this website, or through any other means, is at the behest and
                                    direction, and on the request, of such a client, and Blubeetle disclaims any and all
                                    responsibility in relation to such Information, other than as specifically accepted
                                    here, or in Blubeetle’s Terms of Use. You should read this Policy carefully to
                                    ensure that you are aware of the manner and purpose for which Blubeetle collects
                                    such Information from you, and the manner in which Blubeetle stores, processes, and
                                    uses such Information.</p>

                                <p>The entity or individual on whose direction or request you have been asked to visit
                                    this website, or provide Information to Blubeetle in any other manner, may have
                                    sought your authorization to share your Information with Blubeetle; alternatively,
                                    Blubeetle may seek your authorization and consent to obtain and use your Information
                                    and shall specify the type of Purpose for which it seeks such Information from you.
                                    If you (i) have not received or accepted such an authorization from Blubeetle or any
                                    other entity or individual at whose behest or direction you are asked to provide any
                                    Information to Blubeetle, or (ii) do not consent to the use of your Information by
                                    Blubeetle, or (iii) do not consent to the sharing of such Information with third
                                    parties in the manner described in Section 4 of this Policy, please: </p>
                                <ul style="margin-left: 45px;">
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Do not share any Information with Blubeetle or its agents
                                            through any means; </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Do not proceed any further on this website, or provide any
                                            further Information on or through this website; </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Close the tab or window in your browser where this website is
                                            displayed; and </p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Contact the entity or individual on whose direction you visited
                                            this website, or on whose direction you were contacted by Blubeetle.</p>
                                    </li>
                                </ul>
                                <p>You proceeding with the use of this website, and/or your providing any Information to
                                    Blubeetle on or through the use of this website or through any other means, is based
                                    upon the assumption that you have indeed executed and provided to such entity or
                                    individual, or to Blubeetle, such authorization, and the subsequent provisions of
                                    this Policy are based upon such an assumption.</p>
                                <p>Blubeetle is committed to protecting the privacy and Information provided voluntarily
                                    by individuals to enable Blubeetle to complete the Purpose on behalf of its clients.
                                    This Policy sets out the nature/type of Information Blubeetle collects, the Purpose
                                    of such collection and usage, disclosure of such Information, and Blubeetle’s
                                    security practices and procedures in relation thereto.</p>
                                <p>This Policy has been drafted in accordance with the provisions of the Information
                                    Technology Act, 2000, and the Rules thereunder, including the Information Technology
                                    (Reasonable Security Practices and Procedures and Sensitive Personal Data or
                                    Information) Rules, 2011.</p>

                                <h2 class="footer-heading">Use and Acceptance</h2>
                                <p>You may access this website for preliminary browsing without availing Blubeetle’s
                                    services. In such an event, and/or in the event you access this website in relation
                                    to Blubeetle’s services, or in relation to any Purpose, you confirm that you have
                                    read, understand, and agree with this Privacy Policy each time you access the Site.
                                </p>

                                <h2 class="footer-heading">Nature/Type of Information Gathered, Purpose, and Duration of
                                    Storage</h2>
                                <p>Blubeetle gathers/obtains Information about you, for the Purpose, if you choose to
                                    provide the same voluntarily by reading, understanding, and consenting to the terms
                                    of the aforementioned authorization. Blubeetle only collects Information that is
                                    necessary to provide the services requested by its clients, which constitute the
                                    Purpose. If any other additional Information is required other than as stated in the
                                    authorization, then you will be informed of the same, and you should not provide
                                    such additional Information to Blubeetle unless you have explicitly consented to the
                                    same.</p>
                                <p>Blubeetle does not collect any Information without due notification to you and
                                    without your consent. The verification of your Information may be done by Blubeetle
                                    directly or through one or more of its associates. By consenting to provide any
                                    Information to Blubeetle in relation to the Purpose, you are also consenting to the
                                    sharing of your Information with third parties for the Purpose.</p>
                                <p>Blubeetle may also disclose Information in connection with (i) the sale, assignment,
                                    or other transfer of its business, (ii) in order to respond to requests of
                                    government or law enforcement agencies, or (iii) where this is required by
                                    applicable laws, court orders, or government regulations, with prior intimation to
                                    you, to the extent that such intimation is legally permissible.</p>

                                <h2 class="footer-heading">Disclosure/Sharing of Information</h2>
                                <p>To enable Blubeetle to provide services in relation to the Purpose, the Information
                                    provided by you may be shared by Blubeetle either with its own employees, officers,
                                    agents, and directors, other corporate entities and affiliates, or unaffiliated
                                    third-party service providers working on Blubeetle’s behalf to provide the service
                                    in relation to the Purpose.</p>
                                <p>Exceptions to Consent Limitations and this Policy: Blubeetle may disclose Information
                                    if required to do so by law or upon the advice of its professional advisors, such as
                                    legal counsel.</p>

                                <h2 class="footer-heading">Security Practices and Procedures</h2>
                                <p>Blubeetle has taken appropriate steps to protect the security of Information and to
                                    ensure that your preferences for its intended use are followed. Blubeetle
                                    prioritizes the confidentiality and security of your Information. It uses industry
                                    standards as well as physical, technical, and administrative security measures to
                                    keep Information confidential and secure.</p>

                                <h2 class="footer-heading">Rectification/Correction of Information</h2>
                                <p>You have the right to review your Information submitted by you on the website
                                    https://regtech.blubeetle.ai/ and to access/update/correct/delete any Information provided by
                                    you directly on the mentioned website.</p>
                                <h2 class="footer-heading">Cookies</h2>
                                <p>To enhance your experience on this website, we use a feature called a “cookie”.
                                    Cookies are small files that your Web browser places on your computer’s hard drive.
                                    You have the option of setting your browser to reject cookies.</p>



                                <h2 class="footer-heading">Grievance Officer</h2>
                                <p>Should you have any complaint or grievance about the manner in which Blubeetle
                                    receives or processes your Information, you may write to our Grievance Officer,
                                    whose details are provided below. Blubeetle is committed to resolving any such
                                    grievances in an expeditious and effective manner.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- Footer -->
    {% set Landing_Page_Footer = Landing_Page_Footer() %}
    {% if Landing_Page_Footer %}
    {{ Landing_Page_Footer | safe }}
    {% endif %}


    <script nonce="{{ g.nonce }}">

        $(document).ready(function () {
            // Toggle to show and hide navbar menu
            const navbarMenu = document.getElementById("menu");
            const burgerssMenu = document.getElementById("burgerss");

            burgerssMenu.addEventListener("click", () => {
                navbarMenu.classList.toggle("is-active");
                burgerssMenu.classList.toggle("is-active");
            });

        })
        // Toggle to show and hide dropdown menu
        const dropdown = document.querySelectorAll(".dropdown");

        dropdown.forEach((item) => {
            const dropdownToggle = item.querySelector(".dropdown-toggle");

            dropdownToggle.addEventListener("click", () => {
                const dropdownShow = document.querySelector(".dropdown-show");
                toggleDropdownItem(item);

                // Remove 'dropdown-show' class from other dropdown
                if (dropdownShow && dropdownShow != item) {
                    toggleDropdownItem(dropdownShow);
                }
            });
        });

        // Function to display the dropdown menu
        const toggleDropdownItem = (item) => {
            const dropdownContent = item.querySelector(".dropdown-content");

            // Remove other dropdown that have 'dropdown-show' class
            if (item.classList.contains("dropdown-show")) {
                dropdownContent.removeAttribute("style");
                item.classList.remove("dropdown-show");
            } else {
                // Added max-height on active 'dropdown-show' class
                dropdownContent.style.height = dropdownContent.scrollHeight + "px";
                item.classList.add("dropdown-show");
            }
        };

        // Fixed dropdown menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                document.querySelectorAll(".dropdown-content").forEach((item) => {
                    item.removeAttribute("style");
                });
                dropdown.forEach((item) => {
                    item.classList.remove("dropdown-show");
                });
            }
        });

        // Fixed navbar menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                const navbarMenu = document.getElementById("menu");
                const burgerssMenu = document.getElementById("burgerss");
                if (navbarMenu.classList.contains("is-active")) {
                    navbarMenu.classList.remove("is-active");
                    burgerssMenu.classList.remove("is-active");
                }
            }
        });
    </script>



</body>

</html>