<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bluBeetle.ai</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% set Landing_routes_Urls = Landing_routes_Urls() %}
    {% if Landing_routes_Urls %}
    {{ Landing_routes_Urls | safe }}
    {% endif %}


</head>

<body>

    {% set Landing_Page_Topbar = Landing_Page_Topbar() %}
    {% if Landing_Page_Topbar %}
    {{ Landing_Page_Topbar | safe }}
    {% endif %}

    <section class="api-headers">
        <!-- <div class="colomn-heading-inner heading">
            <h3 class="white-heading">Privacy Policy</h3>
        </div> -->
        <div class="common-inner-page-padding">
            <div class="discription-of-product">
                <div class="container">
                    <h3 class="api-info-headers">Privacy Policy</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="inner-page-text terms-text">
                                <p>This document sets forth the Privacy Policy in relation to information collected by
                                    bluBeetle.ai in relation to any purpose, or otherwise in connection with its
                                    business.
                                </p>
                                <h2 class="footer-heading">API</h2>
                                <p>Application programming interface, as the term is generally understood in the
                                    information technology industry.</p>

                                <h2 class="footer-heading text-unset">bluBeetle.ai</h2>
                                <p>bluBeetle.ai , a subsidiary of Craft Silicon, a company incorporated under the laws
                                    of
                                    the Republic of India.</p>

                                <h2 class="footer-heading">Information</h2>
                                <p>Various kinds and manner of personal and/or sensitive information about individuals
                                    or entities, as required for a purpose, which may include: </p>
                                <ul class="c-list-circle">
                                    <li>
                                        <p class="mb-0">Address </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Email </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Educational qualification</p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Past employment references</p>
                                    </li>
                                    <li>
                                        <p class="mb-0">‘Sensitive Personal Data or Information,’ has that term is
                                            defined under Rule 3 of the Information Technology (Reasonable Security
                                            Practices and Sensitive Personal Data or Information) Rules, 2011.</p>
                                    </li>
                                </ul>


                                <h2 class="footer-heading">Policy</h2>
                                <p>The Privacy Policy, including any revisions, amendments, and updates thereto.</p>

                                <h2 class="footer-heading">Purpose</h2>
                                <p>Background verification and allied services conducted by bluBeetle.ai on behalf of
                                    its clients and customers, for the purpose of ascertaining a person’s suitability
                                    for employment, verification of antecedents of persons for the purpose of matrimony,
                                    education, tenancy, award nomination, and other related and ancillary purposes.</p>
                                <hr>
                                <h2 class="footer-heading">
                                    Please Read The Policy Carefully To Fully Understand The Nature And Purpose Of
                                    Gathering Information , Usage , Disclosure , Security Procedures , And Sharing Of
                                    Such
                                    Information.</h2>
                                <h2 class="footer-heading">1. Policy Statement</h2>
                                <ul class="c-lower-alpha">
                                    <li>
                                        <p>bluBeetle.ai provides a range of background verification and allied services
                                            for
                                            its clients through various means, which are enumerated below:</p>
                                    </li>



                                    <ul class="c-list-circle">
                                        <li>
                                            <p class="mb-0">Through its online service situated at the website
                                                https://regtech.bluBeetle.ai/ .</p>
                                        </li>
                                        <li>
                                            <p class="mb-0">Through the collection of various physical documents from
                                                individuals directly. </p>
                                        </li>
                                        <li>
                                            <p class="mb-0">Through APIs or other technological or software systems or
                                                methods that gather or receive data from its clients’ servers in a
                                                manner
                                                authorized by and agreed with its clients. </p>
                                        </li>
                                        <li>
                                            <p class="mb-0">Through physical verification of addresses and other
                                                locations.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="mb-0">Through communication and correspondence with educational
                                                institutes and universities, and various corporate bodies.</p>
                                        </li>
                                    </ul>
                                    <li>
                                        <p>bluBeetle.ai provides these services for its clients and customers in
                                            relation to
                                            the Purpose and undertakes such activities based on the request of
                                            interested
                                            employers, educational institutions, landlords, award nominating committees,
                                            or
                                            individuals (i.e., prospective candidates) themselves.</p>
                                    </li>
                                    <li>
                                        <p>You may have been directed to provide certain Information for the Purpose to
                                            bluBeetle.ai through any of the means listed above, by or on behalf of a
                                            client of
                                            bluBeetle.ai. Note that your use of this website, and your providing any
                                            Information
                                            to bluBeetle.ai through this website, or through any other means, is at the
                                            behest
                                            and direction, and on the request, of such a client, and bluBeetle.ai
                                            disclaims any
                                            and all responsibility in relation to such Information, other than as
                                            specifically
                                            accepted here, or in bluBeetle.ai’s Terms of Use. You should read this
                                            Policy
                                            carefully to ensure that you are aware of the manner and purpose for which
                                            bluBeetle.ai collects such Information from you, and the manner in which
                                            bluBeetle.ai stores, processes, and uses such Information.</p>
                                    </li>

                                    <li>
                                        <p>The entity or individual on whose direction or request you have been asked to
                                            visit
                                            this website, or provide Information to bluBeetle.ai in any other manner,
                                            may have
                                            sought your authorization to share your Information with bluBeetle.ai;
                                            alternatively, bluBeetle.ai may seek your authorization and consent to
                                            obtain and
                                            use your Information and shall specify the type of Purpose for which it
                                            seeks such
                                            Information from you. If you (i) have not received or accepted such an
                                            authorization
                                            from bluBeetle.ai or any other entity or individual at whose behest or
                                            direction you
                                            are asked to provide any Information to bluBeetle.ai, or (ii) do not consent
                                            to the
                                            use of your Information by bluBeetle.ai, or (iii) do not consent to the
                                            sharing of
                                            such Information with third parties in the manner described in Section 4 of
                                            this
                                            Policy, please:</p>
                                    </li>
                                    <ul class="c-list-circle">
                                        <li>
                                            <p class="mb-0">Do not share any Information with bluBeetle.ai or its agents
                                                through any means. </p>
                                        </li>
                                        <li>
                                            <p class="mb-0">Do not proceed any further on this website, or provide any
                                                further Information on or through this website. </p>
                                        </li>
                                        <li>
                                            <p class="mb-0">Close the tab or window in your browser where this website
                                                is
                                                displayed and Contact the entity or individual on whose direction you
                                                visited
                                                this website, or on whose direction you were contacted by bluBeetle.</p>
                                        </li>
                                    </ul>
                                    </li>
                                    <p>You proceeding with the use of this website, and/or your providing any
                                        Information
                                        to bluBeetle.ai on or through the use of this website or through any other
                                        means, is
                                        based upon the assumption that you have indeed executed and provided to such
                                        entity
                                        or individual, or to bluBeetle.ai, such authorization, and the subsequent
                                        provisions
                                        of this Policy are based upon such an assumption.</p>
                                    </li>
                                    <li>
                                        <p>bluBeetle.ai is committed to protecting the privacy and Information provided
                                            voluntarily by individuals to enable bluBeetle.ai to complete the Purpose on
                                            behalf
                                            of its clients. This Policy sets out the nature/type of Information
                                            bluBeetle.ai
                                            collects, the Purpose of such collection and usage, disclosure of such
                                            Information,
                                            and bluBeetle.ai’s security practices and procedures in relation thereto.
                                        </p>
                                    </li>
                                    <li>
                                        <p>This Policy has been drafted in accordance with the provisions of the
                                            Information
                                            Technology Act, 2000, and the Rules thereunder, including the Information
                                            Technology
                                            (Reasonable Security Practices and Procedures and Sensitive Personal Data or
                                            Information) Rules, 2011.</p>
                                    </li>
                                </ul>
                                <h2 class="footer-heading">2. Use and Acceptance</h2>
                                <ul class="c-lower-alpha">
                                    <li>
                                        <p>You may access this website for preliminary browsing without availing
                                            bluBeetle.ai’s
                                            services. In such an event, and/or in the event you access this website in
                                            relation
                                            to bluBeetle.ai’s services, or in relation to any Purpose, you confirm that
                                            you have
                                            read, understand, and agree with this Privacy Policy each time you access
                                            the Site.</p>
                                    </li>
                                </ul>


                                <h2 class="footer-heading">3. Nature/Type of Information Gathered, Purpose, and Duration
                                    of
                                    Storage</h2>
                                <ul class="c-lower-alpha">
                                    <li>
                                        <p>bluBeetle.ai gathers/obtains Information about you, for the Purpose, if you
                                            choose
                                            to provide the same voluntarily by reading, understanding, and consenting to
                                            the
                                            terms of the aforementioned authorization. bluBeetle.ai only collects
                                            Information
                                            that is necessary to provide the services requested by its clients, which
                                            constitute
                                            the Purpose. If any other additional Information is required other than as
                                            stated in
                                            the authorization, then you will be informed of the same, and you should not
                                            provide
                                            such additional Information to bluBeetle.ai unless you have explicitly
                                            consented to
                                            the same.</p>
                                    </li>
                                    <li>
                                        <p>bluBeetle.ai does not collect any Information without due notification to you
                                            and
                                            without your consent. The verification of your Information may be done by
                                            bluBeetle.ai directly or through one or more of its associates. By
                                            consenting to
                                            provide any Information to bluBeetle.ai in relation to the Purpose, you are
                                            also
                                            consenting to the sharing of your Information with third parties for the
                                            Purpose.
                                        </p>
                                    </li>
                                    <li>
                                        <p>bluBeetle.ai may also disclose Information in connection with (i) the sale,
                                            assignment, or other transfer of its business, (ii) in order to respond to
                                            requests
                                            of government or law enforcement agencies, or (iii) where this is required
                                            by
                                            applicable laws, court orders, or government regulations, with prior
                                            intimation to
                                            you, to the extent that such intimation is legally permissible.</p>
                                    </li>
                                </ul>




                                <h2 class="footer-heading">4. Disclosure/Sharing of Information</h2>
                                <ul class="c-lower-alpha">
                                    <li>
                                        <p>To enable bluBeetle.ai to provide services in relation to the Purpose, the
                                            Information provided by you may be shared by bluBeetle.ai either with its
                                            own
                                            employees, officers, agents, and directors, other corporate entities and
                                            affiliates,
                                            or unaffiliated third-party service providers working on bluBeetle.ai’s
                                            behalf to
                                            provide the service in relation to the Purpose.</p>
                                    </li>
                                    <li>
                                        <p>Exceptions to Consent Limitations and this Policy: bluBeetle.ai may disclose
                                            Information if required to do so by law or upon the advice of its
                                            professional
                                            advisors, such as legal counsel.</p>
                                    </li>
                                </ul>



                                <h2 class="footer-heading">5. Security Practices and Procedures</h2>
                                <ul class="c-lower-alpha">
                                    <li>
                                        <p>bluBeetle.ai has taken appropriate steps to protect the security of
                                            Information and
                                            to ensure that your preferences for its intended use are followed.
                                            bluBeetle.ai
                                            prioritizes the confidentiality and security of your Information. It uses
                                            industry
                                            standards as well as physical, technical, and administrative security
                                            measures to
                                            keep Information confidential and secure.</p>
                                    </li>
                                </ul>

                                <h2 class="footer-heading">6. Rectification/Correction of Information</h2>
                                <ul class="c-lower-alpha">
                                    <li>
                                        <p>You have the right to review your Information submitted by you on the website
                                            https://regtech.blubeetle.ai/ and to access/update/correct/delete any
                                            Information
                                            provided by you directly on the mentioned website.</p>
                                    </li>
                                </ul>
                                <h2 class="footer-heading">7. Cookies</h2>
                                <ul class="c-lower-alpha">
                                    <li>
                                        <p>To enhance your experience on this website, we use a feature called a
                                            "cookie".
                                            Cookies are small files that your Web browser places on your computer’s hard
                                            drive.
                                            You have the option of setting your browser to reject cookies.</p>
                                    </li>
                                </ul>



                                <h2 class="footer-heading">8. Grievance Officer</h2>
                                <ul class="c-lower-alpha">
                                    <li>
                                        <p>Should you have any complaint or grievance about the manner in which
                                            bluBeetle.ai
                                            receives or processes your Information, you may write to our Email, whose
                                            details
                                            are provided below. bluBeetle.ai is committed to resolving any such
                                            grievances in an
                                            expeditious and effective manner.
                                        </p>
                                    </li>
                                </ul>
                                <p><b>Email: info@blubeetle.ai</b></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- Footer -->
    {% set Landing_Page_Footer = Landing_Page_Footer() %}
    {% if Landing_Page_Footer %}
    {{ Landing_Page_Footer | safe }}
    {% endif %}


    <script nonce="{{ g.nonce }}">

        $(document).ready(function () {
            // Toggle to show and hide navbar menu
            const navbarMenu = document.getElementById("menu");
            const burgerssMenu = document.getElementById("burgerss");

            burgerssMenu.addEventListener("click", () => {
                navbarMenu.classList.toggle("is-active");
                burgerssMenu.classList.toggle("is-active");
            });

        })
        // Toggle to show and hide dropdown menu
        const dropdown = document.querySelectorAll(".dropdown");

        dropdown.forEach((item) => {
            const dropdownToggle = item.querySelector(".dropdown-toggle");

            dropdownToggle.addEventListener("click", () => {
                const dropdownShow = document.querySelector(".dropdown-show");
                toggleDropdownItem(item);

                // Remove 'dropdown-show' class from other dropdown
                if (dropdownShow && dropdownShow != item) {
                    toggleDropdownItem(dropdownShow);
                }
            });
        });

        // Function to display the dropdown menu
        const toggleDropdownItem = (item) => {
            const dropdownContent = item.querySelector(".dropdown-content");

            // Remove other dropdown that have 'dropdown-show' class
            if (item.classList.contains("dropdown-show")) {
                dropdownContent.removeAttribute("style");
                item.classList.remove("dropdown-show");
            } else {
                // Added max-height on active 'dropdown-show' class
                dropdownContent.style.height = dropdownContent.scrollHeight + "px";
                item.classList.add("dropdown-show");
            }
        };

        // Fixed dropdown menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                document.querySelectorAll(".dropdown-content").forEach((item) => {
                    item.removeAttribute("style");
                });
                dropdown.forEach((item) => {
                    item.classList.remove("dropdown-show");
                });
            }
        });

        // Fixed navbar menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                const navbarMenu = document.getElementById("menu");
                const burgerssMenu = document.getElementById("burgerss");
                if (navbarMenu.classList.contains("is-active")) {
                    navbarMenu.classList.remove("is-active");
                    burgerssMenu.classList.remove("is-active");
                }
            }
        });

        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    </script>



</body>

</html>