<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bluBeetle.ai</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% set Landing_routes_Urls = Landing_routes_Urls() %}
    {% if Landing_routes_Urls %}
    {{ Landing_routes_Urls | safe }}
    {% endif %}


</head>

<body>

    {% set Landing_Page_Topbar = Landing_Page_Topbar() %}
    {% if Landing_Page_Topbar %}
    {{ Landing_Page_Topbar | safe }}
    {% endif %}
    <section class="api-headers">
        <div class="colomn-heading-inner heading">
            <h3 class="white-heading">Terms of Use</h3>
        </div>
        <div class="common-inner-page-padding">
            <div class="discription-of-product">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="inner-page-text">
                                <p>This page states the ‘Terms of Use’ under which you may use www.bluBeetle.ai (“the
                                    Site” or
                                    “bluBeetle.ai”), an online service of Craft Silicon (“the Company”)
                                    to conduct
                                    background verification checks on individuals for the purpose of ascertaining their
                                    suitability for
                                    employment, verification of antecedents of persons for the purpose of employment,
                                    tenancy,
                                    matrimonial, and other situations, hereinafter referred to as “the Purpose”. The
                                    Company undertakes
                                    such verification based on the request of Clients, or on behalf of individuals.</p>
                                <p>The Company provides its services to you subject to the notices, terms, and
                                    conditions set forth in
                                    these Terms of Use. In addition, when you use any bluBeetle.ai service (e.g.,
                                    verification request),
                                    You will be subject to the rules, guidelines, policies, terms, and conditions
                                    applicable to such
                                    service and that may be informed to you by the Company, and they are incorporated
                                    into the Terms of
                                    Use by this reference. The Company reserves the right to change this Site and these
                                    terms and
                                    conditions at any time. The Company retains the right to deny access to anyone who
                                    we believe has
                                    violated any of these Terms of Use. </p>
                                <p>ACCESSING, BROWSING OR OTHERWISE USING THE SITE INDICATES YOUR AGREEMENT TO ALL THE
                                    TERMS AND
                                    CONDITIONS IN THIS AGREEMENT, THEREFORE PLEASE READ THIS AGREEMENT CAREFULLY BEFORE
                                    PROCEEDING.</p>

                                <h2 class="footer-heading">1. Eligibility</h2>
                                <p>You must be 18 years of age or older to visit or use bluBeetle.ai in any manner. By
                                    visiting
                                    bluBeetle.ai or accepting these Terms of Use, You represent and warrant to the
                                    Company that You are 18
                                    years of age or older, and that You have the right, authority, and capacity to use
                                    the Site and agree
                                    to and abide by these Terms of Use. You also represent and warrant to the Company
                                    that You will use
                                    bluBeetle.ai in a manner consistent with any and all applicable laws and
                                    regulations.</p>


                                <h2 class="footer-heading">2. Contents Posted on Web Site</h2>
                                <p>You are responsible for any notes, messages, e-mails, billboard postings, photos,
                                    drawings, profiles,
                                    opinions, ideas, text, images, videos, audio files, or other materials establishing
                                    proof of identity,
                                    address, and educational qualification, professional references, or any other
                                    information posted or
                                    transmitted to the Site (collectively, “the Content”). </p>
                                <p>You agree that any Content You post may be used by the Company, consistent with our
                                    Privacy Policy
                                    and these Terms of Use, and you are not entitled to any payment or other
                                    compensation for such use.
                                </p>

                                <h2 class="footer-heading">3. Rules of Conduct on the Site</h2>
                                <p>You may not post, distribute or reproduce in any way any copyrighted material,
                                    trademarks, or other
                                    proprietary information without obtaining the prior written consent of the owner of
                                    such proprietary
                                    rights. </p>
                                <p>The Company may review, edit, reject, refuse to post, or delete any Content that, in
                                    the sole
                                    judgment of the Company, violates these Terms of Use or which might be offensive,
                                    illegal, or might
                                    violate the rights, harm, or threaten the safety of another person. </p>
                                <p>Any information provided by you on this site shall not be misleading in any way.</p>
                                <p>The Company specifically prohibits any other use of bluBeetle.ai, and all Users agree
                                    not to do any
                                    of the following:</p>
                                <ul style="margin-left: 45px;">
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Use the Company’s databases for any purpose other than seeking
                                            background
                                            verification checks of candidates/employees/tenants.</p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Post or submit to the Site any incomplete, false, or inaccurate
                                            biographical
                                            information or information which is not your own.</p>
                                    </li>
                                    <li style="list-style: disc;">
                                        <p class="mb-0">Post on the Site any franchise, pyramid scheme, ‘club
                                            membership,’ distributorship,
                                            or other business opportunity that requires an upfront or periodic payment
                                            or recruitment of
                                            others.</p>
                                    </li>
                                </ul>


                                <h2 class="footer-heading">4. Other Businesses</h2>
                                <p>The Site provides links to the sites of affiliated companies and certain other
                                    businesses, in
                                    relation to which the Company is not responsible for examining or evaluating the
                                    products and services
                                    offered by them. The Company does not warrant the offerings of, any of these
                                    businesses or
                                    individuals, or the content of their websites.</p>

                                <h2 class="footer-heading">5. Links</h2>
                                <p>The Site may contain links to other websites or You may be linked through other
                                    websites (‘Linked
                                    Sites’). The Linked Sites are for Your convenience only, and You access them at your
                                    own risk. We are
                                    not responsible for the content of the Linked Sites, whether or not the Company is
                                    affiliated with the
                                    sponsors of the sites. We do not endorse the Linked Sites.</p>

                                <h2 class="footer-heading">6. Privacy</h2>
                                <p>Use of the Site is governed by our Privacy Policy, which can be accessed through this
                                    link also
                                    available on the bottom of the Site’s homepage. Please note that the Privacy Policy
                                    contains important
                                    terms, conditions, and declarations relating to any information, including sensitive
                                    personal data.
                                </p>

                                <h2 class="footer-heading">7. Liability of the Company</h2>
                                <p>The Company provides the service of background verification checks but is not the
                                    source of the data
                                    gathered. Since the Company relies on information provided, it cannot verify or
                                    ratify such findings.
                                    The Company is not involved in any transactions between individuals aside from
                                    providing verification
                                    services.</p>

                                <h2 class="footer-heading">8. Disclaimer of Warranties and Liability</h2>
                                <p>This Site and all materials and services are provided by the Company on an "as is"
                                    and "as available"
                                    basis without any warranties, express or implied.</p>


                                <h2 class="footer-heading">9. Applicable Lawy</h2>
                                <p>These Terms of Use shall be governed by and construed in accordance with the laws of
                                    India. The place
                                    of jurisdiction for settlement of disputes shall be in Mumbai.</p>


                                <h2 class="footer-heading">10. Trademark, Copyright, and Restriction</h2>
                                <p>This Site is controlled and operated by the Company. All materials on this Site,
                                    including images,
                                    illustrations, audio clips, and video clips, are protected by copyrights,
                                    trademarks, and other
                                    intellectual property rights that are owned and controlled by Craft Silicon or by
                                    other
                                    parties that have
                                    licensed their material to Craft Silicon.</p>

                                <h2 class="footer-heading">11. Your Account</h2>
                                <p>You are responsible for maintaining the confidentiality of Your account and password
                                    and for
                                    restricting access to Your computer. The Company reserves the right to expel users
                                    for violating these
                                    Terms of Use.</p>



                                <h2 class="footer-heading">12. Our Contact Details</h2>
                                <p>Please send any questions or comments (including all inquiries unrelated to copyright
                                    infringement)
                                    regarding this Site to contact us [at] bluBeetle.ai</p>

                                <h2 class="footer-heading">13. Indemnity</h2>
                                <p>You agree to defend, indemnify, and hold harmless the Company, its affiliates, and
                                    their respective
                                    officers, directors, employees, and agents from and against any claims, actions, or
                                    demands, including
                                    reasonable legal fees.</p>



                                <h2 class="footer-heading">14. General</h2>
                                <p>The Company makes no claims that any content on the Site may be lawfully viewed or
                                    accessed outside
                                    India. Access to the Site is at your own risk.</p>


                                <h2 class="footer-heading">15. Additional Terms of Use</h2>
                                <p>Certain areas of bluBeetle.ai may be subject to additional terms of use.</p>


                                <h2 class="footer-heading">16. Term and Termination</h2>
                                <p>These Terms of Use will remain in full force while you are a user of bluBeetle.ai.
                                    The Company
                                    reserves the right to terminate your registration or access to bluBeetle.ai upon any
                                    breach of these
                                    Terms of Use.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>

    <!-- Footer -->
    {% set Landing_Page_Footer = Landing_Page_Footer() %}
    {% if Landing_Page_Footer %}
    {{ Landing_Page_Footer | safe }}
    {% endif %}


    <script nonce="{{ g.nonce }}">

        $(document).ready(function () {
            // Toggle to show and hide navbar menu
            const navbarMenu = document.getElementById("menu");
            const burgerssMenu = document.getElementById("burgerss");

            burgerssMenu.addEventListener("click", () => {
                navbarMenu.classList.toggle("is-active");
                burgerssMenu.classList.toggle("is-active");
            });

        })
        // Toggle to show and hide dropdown menu
        const dropdown = document.querySelectorAll(".dropdown");

        dropdown.forEach((item) => {
            const dropdownToggle = item.querySelector(".dropdown-toggle");

            dropdownToggle.addEventListener("click", () => {
                const dropdownShow = document.querySelector(".dropdown-show");
                toggleDropdownItem(item);

                // Remove 'dropdown-show' class from other dropdown
                if (dropdownShow && dropdownShow != item) {
                    toggleDropdownItem(dropdownShow);
                }
            });
        });

        // Function to display the dropdown menu
        const toggleDropdownItem = (item) => {
            const dropdownContent = item.querySelector(".dropdown-content");

            // Remove other dropdown that have 'dropdown-show' class
            if (item.classList.contains("dropdown-show")) {
                dropdownContent.removeAttribute("style");
                item.classList.remove("dropdown-show");
            } else {
                // Added max-height on active 'dropdown-show' class
                dropdownContent.style.height = dropdownContent.scrollHeight + "px";
                item.classList.add("dropdown-show");
            }
        };

        // Fixed dropdown menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                document.querySelectorAll(".dropdown-content").forEach((item) => {
                    item.removeAttribute("style");
                });
                dropdown.forEach((item) => {
                    item.classList.remove("dropdown-show");
                });
            }
        });

        // Fixed navbar menu on window resizing
        window.addEventListener("resize", () => {
            if (window.innerWidth > 992) {
                const navbarMenu = document.getElementById("menu");
                const burgerssMenu = document.getElementById("burgerss");
                if (navbarMenu.classList.contains("is-active")) {
                    navbarMenu.classList.remove("is-active");
                    burgerssMenu.classList.remove("is-active");
                }
            }
        });

        var btn = $('#button');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    </script>



</body>

</html>