<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - bluBeetle.ai</title>

    {% set User_Portal_urls = User_Portal_urls() %}
    {% if User_Portal_urls %}
    {{ User_Portal_urls | safe }}
    {% endif %}
</head>

<body>

    <!-- Side-Bar -->
    {% set User_portal_sidebar = User_portal_sidebar() %}
    {% if User_portal_sidebar %}
    {{ User_portal_sidebar | safe }}
    {% endif %}

    <section class="home-section">
        <!-- Topbar -->
        {% set User_portal_topbar = User_portal_topbar(user_details) %}
        {% if User_portal_topbar %}
        {{ User_portal_topbar | safe }}
        {% endif %}

        <!-- Page Contante -->
        <div class="main">
            <div>

                <!-- Route Headers -->
                {% set User_portal_headers = User_portal_headers(page_info) %}
                {% if User_portal_headers %}
                {{ User_portal_headers | safe }}
                {% endif %}


                <div class="mb-7">
                    <div class="row">
                        {% for i in api_list %}
                        {% if i["view_permission"] == true %}
                        <a href='{{i["page_url"]}}' class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 d-flex">
                            <div class="product-detail-box">
                                <div class="card-detail-section-1 card-section">
                                    {{i["api_logo"] | safe }}
                                </div>
                                <div class="pricing-box-content">
                                    <h5 class="mb-0">{{i["api_name"]}}</h5>
                                    <p id="api-description-{{ i['objid'] }}">{{i["sort_api_description"]}}</p>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Chat Bot -->
                {% set User_chatbot = User_chatbot() %}
                {% if User_chatbot %}
                {{ User_chatbot | safe }}
                {% endif %}


            </div>
        </div>
    </section>

    <!-- Credit Pop-up -->
    {% set User_portal_credits_modal = User_portal_credits_modal(page_info) %}
    {% if User_portal_credits_modal %}
    {{ User_portal_credits_modal | safe }}
    {% endif %}

    <script nonce="{{ g.nonce }}">


        function redactAadhaar(text) {
            const redactedText = text

            // Check if the length exceeds 15 characters
            if (redactedText.length > 75) {
                return redactedText.slice(0, 75) + '...';
            }
            return redactedText;
        }

        function addRedactedTextToDiv(text, id_name) {
            const redacted = redactAadhaar(text);
            $('#' + id_name).html(redacted);
        }



        apicount = JSON.parse('{{api_count|tojson}}')

        for (x = 0; x < apicount.length; x++) {
            try {
                addRedactedTextToDiv($("#api-description-" + apicount[x]["objid"])[0]["innerText"], "api-description-" + apicount[x]["objid"])
            }
            catch {

            }
        }


    </script>
</body>

</html>