<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - bluBeetle.ai</title>

    {% set Admin_Portal_urls = Admin_Portal_urls() %}
    {% if Admin_Portal_urls %}
    {{ Admin_Portal_urls | safe }}
    {% endif %}

</head>

<body>
    <div class="main">
        <!-- Common Topbar -->
        {% set Admin_Portal_topbar = Admin_Portal_topbar(name) %}
        {% if Admin_Portal_topbar %}
        {{ Admin_Portal_topbar | safe }}
        {% endif %}

        <!-- Main Contant -->
        <div class="main-section">
            <!-- SideBar -->
            {% set Admin_Portal_sidebar = Admin_Portal_sidebar() %}
            {% if Admin_Portal_sidebar %}
            {{ Admin_Portal_sidebar | safe }}
            {% endif %}

            <div class="contain-main-part">
                <div class="c-contain-padding">
                    <div class="username_part">
                        <div class="username-text">
                            <h2>Company List</h2>

                        </div>


                    </div>


                    <div class="c-box mt-3">
                        <div class="c-box-padding">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table id="basic-datatable"
                                            class="table table-bordered dataTable no-footer dtr-inline"
                                            style="text-align: center;">
                                            <thead>
                                                <tr>
                                                    <th class="text-wrap" style="width:300px;">
                                                        Company Name</th>
                                                    <th class="text-wrap" style="width:300px;">
                                                        Mobile No</th>
                                                    <th class="text-wrap" style="width:300px;">
                                                        Email</th>
                                                    <th class="text-wrap" style="width:300px;">
                                                        Created On</th>
                                                    <th class="text-wrap" style="width:300px;">
                                                        Action</th>
                                                </tr>
                                            </thead>


                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <!-- Page Javascript -->
    {% include 'company_page_js.html' %}

</body>

</html>