<!-- App favicon -->
<link rel="icon" type="image/x-icon" href="../../static/favicon.png">

<!-- Icons -->
<link rel="stylesheet" href="../static/vendor/Icons/bootstrap.glyphicons.css">
<link href="../../static/vendor/Icons/remixicon.css" rel="stylesheet">

<link rel="stylesheet" href="../../static/vendor/bootstrap4.6.1/bootstrap.min.css">
<script src="../../static/vendor/JQuery/JQuery.min.js"></script>
<script src="../../static/vendor/bootstrap4.6.1/popper.min.js"></script>
<script src="../../static/vendor/bootstrap4.6.1/bootstrap.vendor.min.js"></script>

<!-- intlTelInput Css -->
<link rel="stylesheet" href="../../static/vendor/intlTelInput/intlTelInput.css">



<!-- Select2 -->
<link rel="stylesheet" href="../../static/vendor/Select2/select2.min.css">
<script src="../../static/vendor/Select2/select2.min.js"></script>


<!-- Landing Page Style -->
<link rel="stylesheet" href="../../static/Landing_css/landing_style.css">

<!-- Media Query -->
<link rel="stylesheet" href="../../static/Landing_css/landing_media_query.css">
