<footer>
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-first">
                    <img src="../../static/landing_images/logo.png" alt="">
                    <p>Time to support regulatory challenges, automate processes, and improve accuracy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-second c-second">
                    <h2 class="footer-heading">Company</h2>
                    <ul>
                        <li><a href="/license-and-agreement">License and agreement</a></li>
                        <li><a href="/legal">Legal</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/terms-of-use">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-second">
                    <h2 class="footer-heading">Products</h2>
                    <ul>
                        <li><a href="/aadhaar-redaction-api">Aadhar Redaction API</a></li>
                        <li><a href="/ocr-api">OCR API
                            </a></li>
                        <li><a href="/bank-statement-api">Bank Statement Analysis API
                            </a></li>
                        <li><a href="/ITR-statement-api">ITR Statement Analyzer API
                            </a></li>

                        <li><a href="/name-match-api">Name Match API

                            </a></li>
                        <li><a href="/lang-translate-api">Language Translator API

                            </a></li>
                        <li><a href="/kyc-quality-check-api">KYC Quality Check API
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-second">
                    <h2 class="footer-heading">Follow us On</h2>
                    <ul>
                        <li><a class="social-link" href="https://www.linkedin.com/company/craftsiliconglobal/"><i class="ri-linkedin-fill footer-linked-in-icon"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-12">
                <hr>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <p class="copy-font">©2024 bluBeetle.ai All rights reserved.</p>
            </div>
        </div>
    </div>

</footer>