<header class="header" id="header">
    <nav class="navbar container">
        <div class="navbar-inner">
            <a href="/" class="brand"><img src="../../static/landing_images/logo.png" alt=""></a>
            <div class="burger" id="burgerss">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div>
        </div>
        <div class="dd-flex">
            <div class="navbar-block" id="menu">
                <ul class="menu">
                    <li class="menu-item dropdown">
                        <span class="dropdown-toggle menu-link">
                            Solution
                            <i class="bx bx-chevron-down"></i>
                        </span>
                        <div class="dropdown-content mega-menu">
                            <div class="dropdown-column">
                                <div class="dropdown-group">
                                    <ul class="dropdown-items">
                                        <li class="mega-menu-items">
                                            <a href="/aadhaar-redaction-api" class="dropdown-link">
                                                <span class="mega-menu-heading">Aadhaar Redaction API</span>
                                                <p class="mega-menu-detail">Compliant Aadhaar Redaction for Secure
                                                    Document Processing</p>
                                            </a>
                                        </li>
                                        <li class="mega-menu-items">
                                            <a href="/ocr-api" class="dropdown-link">
                                                <span class="mega-menu-heading">OCR API</span>
                                                <p class="mega-menu-detail">Fast and Accurate Optical Character
                                                    Recognition for Any Workflow</p>
                                            </a>
                                        </li>
                                        <li class="mega-menu-items">
                                            <a href="/bank-statement-api" class="dropdown-link">
                                                <span class="mega-menu-heading">Bank Statement Analysis API</span>
                                                <p class="mega-menu-detail">Effortless Bank Statement Parsing for
                                                    Enhanced Analytics</p>
                                            </a>
                                        </li>
                                        <li class="mega-menu-items">
                                            <a href="/ITR-statement-api" class="dropdown-link">
                                                <span class="mega-menu-heading">ITR Statement Analyzer API</span>
                                                <p class="mega-menu-detail">Simplify Tax Analysis with Automated ITR
                                                    Insights</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown-group">
                                    <ul class="dropdown-items">
                                        <li class="mega-menu-items">
                                            <a href="/name-match-api" class="dropdown-link">
                                                <span class="mega-menu-heading">Name Match API</span>
                                                <p class="mega-menu-detail">Powering Secure Verifications through Name
                                                    Matching Technology</p>
                                            </a>
                                        </li>
                                        <li class="mega-menu-items">
                                            <a href="/lang-translate-api" class="dropdown-link">
                                                <span class="mega-menu-heading">Language Translator API</span>
                                                <p class="mega-menu-detail">Empowering Connectivity with Instant
                                                    Language Support</p>
                                            </a>
                                        </li>
                                        <li class="mega-menu-items">
                                            <a href="/kyc-quality-check-api" class="dropdown-link">
                                                <span class="mega-menu-heading">KYC Quality Check API</span>
                                                <p class="mega-menu-detail">Fast and Accurate KYC Validation for
                                                    Regulatory Compliance</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item dropdown">
                        <span class="dropdown-toggle menu-link">
                            About Us <i class="bx bx-chevron-down"></i>
                        </span>
                        <div class="dropdown-content sec-dropdown-content">
                            <div class="dropdown-column">
                                <div class="dropdown-group">
                                    <ul class="dropdown-items">
                                        <li class="mega-menu-items">
                                            <a href="company.html" class="dropdown-link">
                                                <span class="mega-menu-heading">Company</span>
                                            </a>
                                        </li>
                                        <li class="mega-menu-items">
                                            <a href="partners.html" class="dropdown-link">
                                                <span class="mega-menu-heading">Partners</span>
                                            </a>
                                        </li>
                                        <li class="mega-menu-items">
                                            <a href="careers.html" class="dropdown-link">
                                                <span class="mega-menu-heading">Careers</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown-group">
                                    <ul class="dropdown-items">
                                        <li class="mega-menu-items">
                                            <a href="life-at-bluebeetle.html" class="dropdown-link">
                                                <span class="mega-menu-heading">Life At bluBeetle</span>
                                            </a>
                                        </li>
                                        <li class="mega-menu-items">
                                            <a href="our-team.html" class="dropdown-link">
                                                <span class="mega-menu-heading">Our team</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="d-flex justify-content-center">
                        <li class="menu-item"><a href="/contact-us" class="menu-link btn-1">Contact Us</a></li>
                        <li class="menu-item"><a href="/login/user" class="menu-link btn-2">Login</a></li>
                    </div>
                </ul>
            </div>
            <div class="power-by">
                <a href="#"><img src="../../static/landing_images/powerby-logo.png"></a>
            </div>
        </div>
    </nav>
</header>