<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Company List | RegTech Admin" name="description" />
    <meta content="Company List | RegTech Admin" name="admin" />
    <title>Company List | RegTech Admin</title>

    {% set load_css = load_css() %}
    {% if load_css %}
    {{ load_css | safe }}
    {% endif %}
</head>

<body>

    <div class="wrapper">
        <!-- Top Bar -->
        {% set topbars = load_topbar(username) %}
        {% if topbars %}
        {{ topbars | safe }}
        {% endif %}

        <!-- Routes -->
        {% set pagelinks = navigation_urls(manage_role) %}
        {% if pagelinks %}
        {{ pagelinks | safe }}
        {% endif %}


        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/company-list-view"></a>Comapny</li>
                                        <li class="breadcrumb-item active">List</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Company List</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table id="basic-datatable"
                                            class="table table-bordered dataTable no-footer dtr-inline">
                                            <thead>
                                                <tr style="text-align: center;">
                                                    <th class="text-wrap" style="width:300px">
                                                        Company Name</th>
                                                    <th class="text-wrap" style="width:300px">
                                                        Company Code</th>
                                                    <th class="text-wrap" style="width:300px">
                                                        User Name</th>
                                                    <th class="text-wrap" style="width:300px">Created Date</th>                                                   
                                                </tr>
                                            </thead>
                                        

                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div> <!-- end .board-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

            </div> <!-- container -->
        </div> <!-- content -->

        <!-- Footer -->
        {% set footers = load_footer() %}
        {% if footers %}
        {{ footers | safe }}
        {% endif %}

        <!-- Layout Wrapper end -->
    </div>


    <!-- All Javascripts URL -->
    {% set load_js = load_javascript() %}
    {% if load_js %}
    {{ load_js | safe }}
    {% endif %}


    <!-- Page Javascript -->
    {% include 'comapny_list_js.html' %}




   
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        !function (c) {
            "use strict"; function t() { }
            t.prototype.send = function (t, o, i, e, n, a, s, r) {
                t = { heading: t, text: o, position: i, loaderBg: e, icon: n, hideAfter: a = a || 3e3, stack: s = s || 1 };
                t.showHideTransition = r || "fade", c.toast().reset("all"), c.toast(t)
            }, c.NotificationApp = new t, c.NotificationApp.Constructor = t,
                c.NotificationApp.send("Plan-List!", "{{message}}", "top-right", "rgba(0,0,0,0.2)", "success")
        }(window.jQuery);
    </script>
    {% endfor %}
    {% endif%}
    {% endwith %}

</body>

</html>