<script>



    var table = $('#basic-datatable').DataTable({
        'processing': true,
        'serverSide': false,
        'serverMethod': 'get',
        "autoWidth": false,
        'ajax': {
            'url': '/comapny_list/data_table'
        },
        'lengthMenu': [[10, 50, 100], [10, 50, 100]],
        searching: true,
        sort: true,
        'columns': [
            { data: "corporate_id" },
            { data: 'corporate_name' },
            { data: "username" },
            {data: "created_on",}
        ],

        orderCellsTop: true,
        fixedHeader: true,
        columnDefs: [
            { orderable: true, className: 'line_texts', targets: [2] },
        ],

        createdRow: function (row, data, dataIndex) {
            $(row).addClass('centerele');
        },
        keys: !0, language: {
            paginate: { previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>" }
        }, drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        },
    });




</script>