<script nonce="{{ g.nonce }}">

    $('#redaction_input').on('change', (event) => {

        // empty output
        $("#json_view").text("")
        $("#tabluar_responce").text("")
        
        var output = document.getElementById('aadhaar_red_img');
        $("#close_input").removeClass("d-none")
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    });

    $("#close_input").click(function () {
        $("#redaction_input").val("")
        document.getElementById('aadhaar_red_img').src = "../../../../static/images/placeholder-img.svg"
        $("#close_input").addClass("d-none")
    })


    $("#run_api").click(function () {

        // empty output
        $("#json_view").text("")
        $("#tabluar_responce").text("")

        const fileInput = document.getElementById('redaction_input');
        const file = fileInput.files[0];
        if (file != undefined) {
            $("#run_api").html(`
                    <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                    Loading...
                `)
            $(".c-loader").removeClass('d-none')
            const formdata = new FormData();
            formdata.append("aadhaar_redac_img", file);

            const requestOptions = {
                method: "POST",
                body: formdata,
                redirect: "follow"
            };

            fetch("/aadhaar/redaction/test-api", requestOptions)
                .then((response) => response.json())
                .then((result) => {
                    $("#run_api").text("Run Api")

                    if (result['data']['status_code'] == 200) {
                        $(".c-loader").addClass('d-none')

                        request_id = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_id = result['data']['basic_response']['request_id']
                        }

                        request_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_on = result['data']['basic_response']['request_on']
                        }

                        response_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            response_on = result['data']['basic_response']['response_on']
                        }

                        api_name = ""
                        if (result['data']['basic_response'] != undefined) {
                            api_name = result['data']['basic_response']['api_name']
                        }

                        duration = ""
                        if (result['data']['basic_response'] != undefined) {
                            duration = result['data']['basic_response']['duration']
                        }


                        abc = {
                            "data": {
                                "response": result['data']['response'],
                                "request_id": request_id,
                                "request_on": request_on,
                                "response_on": response_on,
                                "api_name": api_name,
                                "duration": duration,
                            }
                        }
                        //  Json preview
                        var formatteddata = JSON.stringify(abc, null, '\t')
                        document.getElementById('json_view').innerHTML = formatteddata

                        // Tabular view
                        $("#tabluar_responce").html(`<table class="table ">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Field</th>
                                                    <th scope="col">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Image</th>
                                                    <td>`+ result['data']['response']['Image'] + `</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">request_id</th>
                                                    <td>`+ request_id + `</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">api_name</th>
                                                    <td>`+ api_name + `</td>
                                                </tr>
                                            </tbody>
                                        </table>`)

                        // Result in second
                        if (result['data']['basic_response'] != undefined) {
                            $('#eta').removeClass('d-none')
                            document.getElementById("show_second").innerHTML = result['data']['basic_response']['duration']
                        }
                        // Masked Image Show
                        if (result['data']['response']['Image'] != undefined) {
                            $(".img-preview").removeClass("d-none")
                            document.getElementById("preview_img").src = result['data']['response']['Image']
                        }
                        // Api Status Show
                        $("#api_status").removeClass('d-none')
                        $("#status_code").addClass("success")
                        document.getElementById('status_code').innerHTML = result['data']['status_code']
                        // Used Credits set
                        if (result['data']['basic_response'] != undefined) {
                            $("#uds_crdts").text(result['data']['basic_response']['test_credits'])
                        }
                    }
                    else {
                        $(".c-loader").addClass('d-none')
                        request_id = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_id = result['data']['basic_response']['request_id']
                        }

                        request_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_on = result['data']['basic_response']['request_on']
                        }

                        response_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            response_on = result['data']['basic_response']['response_on']
                        }

                        api_name = ""
                        if (result['data']['basic_response'] != undefined) {
                            api_name = result['data']['basic_response']['api_name']
                        }

                        duration = ""
                        if (result['data']['basic_response'] != undefined) {
                            duration = result['data']['basic_response']['duration']
                        }

                        abc = {
                            "data": {
                                "response": result['data']['response'],
                                "request_id": request_id,
                                "request_on": request_on,
                                "response_on": response_on,
                                "api_name": api_name,
                                "duration": duration,
                            }
                        }
                        // Json preview
                        var formatteddata = JSON.stringify(abc, null, '\t')
                        document.getElementById('json_view').innerHTML = formatteddata

                        // Tabular view
                        $("#tabluar_responce").html(`<table class="table ">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Field</th>
                                                    <th scope="col">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">MSG</th>
                                                    <td>`+ result['data']['response'] + `</td>
                                                </tr>
                                            </tbody>
                                        </table>`)


                        // Hide Masked image
                        $(".img-preview").addClass("d-none")
                        // Api Status Show
                        $("#api_status").removeClass('d-none')
                        //    Result in second
                        if (result['data']['basic_response'] != undefined) {
                            $('#eta').removeClass('d-none')
                            document.getElementById("show_second").innerHTML = result['data']['basic_response']['duration']
                        }

                        $("#status_code").addClass("text-danger")
                        document.getElementById('status_code').innerHTML = result['data']['status_code']
                        // Used Credits set
                        if (result['data']['basic_response'] != undefined) {
                            $("#uds_crdts").text(result['data']['basic_response']['test_credits'])
                        }
                    }

                    // $(".c-loader").addClass('d-none')
                    // var formatteddata = JSON.stringify(result.data.json_data, null, '\t')
                    // $("#json_view").text(formatteddata)
                    // $('#eta').removeClass('d-none')
                    // document.getElementById("show_second").innerHTML = result.data.result_in_seconds
                    // $(".img-preview").removeClass("d-none")
                    // document.getElementById("preview_img").src = result.data.json_data.response.Image

                })
                .catch((error) => console.error(error));
        }
        else {
            alert("Please Choose File!")
        }


    })


    $("#full_screen_view").click(function () {
        enableFullScreen("json_view");
    });

    $("#copy_json").click(function () {
        copyToClipboard('#json_view')
    });

    $("#json_download").click(function () {
        Json_Download('json_view')
    });


    $('.img-preview').click(function (e) {
        var base64Image = $(this).attr('src');
        var newTab = window.open();
        newTab.document.write('<img src="' + base64Image + '" alt="Base64 Image">');
    });

</script>