<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aadhaar Redaction - bluBeetle.ai</title>

    {% set User_Portal_urls = User_Portal_urls() %}
    {% if User_Portal_urls %}
    {{ User_Portal_urls | safe }}
    {% endif %}
</head>

<body>
    <!-- Topbar -->
    {% set User_portal_topbar = User_portal_topbar(user_details) %}
    {% if User_portal_topbar %}
    {{ User_portal_topbar | safe }}
    {% endif %}

    <section class="main-part">
        <!-- Side-Bar -->
        {% set User_portal_sidebar = User_portal_sidebar() %}
        {% if User_portal_sidebar %}
        {{ User_portal_sidebar | safe }}
        {% endif %}

        <!-- Page Content -->
        <div class="page-content">
            <div class="c-page-padding">
                <div>

                    <!-- Route Headers -->
                    {% set User_portal_headers = User_portal_headers(page_info) %}
                    {% if User_portal_headers %}
                    {{ User_portal_headers | safe }}
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="cc-box">
                                <div class="cc-box-padding">
                                    <div class="d-flex justify-content-between text-center">
                                        <p class="dash-box-heading-blue">Input</p>
                                        <span class="highlighted_text">
                                            {{about_api_details['credits_per_use']}} credits per usage
                                        </span>
                                    </div>
                                    <div class="form-group c-form-group">
                                        <!-- <label>Image <span class="required">*</span></label> -->
                                        <label class="text-danger">Supported document types: JPEG, JPG, PNG                                        </label>
                                        <div class="img-capure">
                                            <div class="captureimg">
                                                <img src="../../../../static/images/placeholder-img.svg"
                                                    id="aadhaar_red_img" alt="">
                                            </div>
                                            <input type='file' id="redaction_input" accept="image/png,  image/jpeg">
                                        </div>
                                    </div>
                                    <button class="btn c-btn" id="aadhaar_redaction_run">Run API</button>

                                    <!-- <div class="or"><span>or</span></div>
                                    <div class="form-group c-form-group">
                                        <label class="d-block">Samples</label>
                                        <button class="btn c-btn2" id="readct_sample_click">Samples</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="cc-box">
                                <div class="cc-box-padding">

                                    <p class="dash-box-heading-blue">Output <span id="eta" class="result d-none">🚀
                                            Results in
                                            <span class="seconds" id="aadhaar_redaction_seconds"> 0 </span>
                                            seconds!</span></p>

                                    <div class="c-loader mb-2 d-none">
                                        <img src="../../../../static/images/api-loader.gif" class="api-loader" alt=""
                                            srcset="">
                                        <p>✨ We are doing our magic!</p>
                                    </div>

                                    <div class="form-group c-form-group d-none" id="api_status">
                                        <label>Status:
                                            <span id="status_code">200</span> </label>
                                    </div>
                                    <div class="form-group c-form-group">
                                        <div class="dc-flex">
                                            <label>Json </label>
                                            <i class="ri-fullscreen-line" id="full_screen_view"></i>
                                        </div>
                                        <pre class="form-control c-form-control json-div" id="aadhaar_redaction_json">

                                        </pre>
                                    </div>

                                    <button class="btn c-btn" id="aadhaar_redaction_copy"><i
                                            class="ri-file-copy-line"></i> Copy Json</button>
                                    <button class="btn c-btn2 ml-4" id="aadhaar_redaction_download"><i
                                            class="ri-download-2-line"></i> Download</button>
                                    <img src="" id="preview_img"
                                        class="img-thumbnail d-none img-preview cursor-pointer">


                                    <div class="right-bottom-part">
                                        <a href="#" class="api-link">API Documentation <i
                                                class="ri-arrow-right-line"></i></a>
                                        <div class="inf-bar">
                                            <div class="info-icon">
                                                <i class="ri-information-line"></i>
                                            </div>
                                            <div class="info-text">
                                                <h2>Data Privacy</h2>
                                                <p>bluBeetle does not store your private data, the input data will
                                                    deleted
                                                    upon usage of the API. Read more</p>
                                            </div>
                                        </div>
                                        <p class="dash-box-heading-blue pt-4">More about this API </p>
                                        <p>{{about_api_details['long_api_description']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Credit Pop-up -->
    {% set User_portal_credits_modal = User_portal_credits_modal(page_info) %}
    {% if User_portal_credits_modal %}
    {{ User_portal_credits_modal | safe }}
    {% endif %}


    <!-- Page Javascript -->
    {% include 'aadhaar_redac_js.html' %}



</body>

</html>