<script nonce="{{ g.nonce }}">

    $('#redaction_input').on('change', (event) => {
        var output = document.getElementById('aadhaar_red_img');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    });


    $("#readct_sample_click").click(function () {
        var output = document.getElementById('aadhaar_red_img');
        output.src = "../../../../static/images/aadhaar_ocr.jpg"
    })


    $("#aadhaar_redaction_run").click(function () {
        $("#aadhaar_redaction_run").text("Loading....")
        const fileInput = document.getElementById('redaction_input');
        const file = fileInput.files[0];
        if (file != undefined) {
            $(".c-loader").removeClass('d-none')
            const formdata = new FormData();
            formdata.append("aadhaar_redac_img", file);

            const requestOptions = {
                method: "POST",
                body: formdata,
                redirect: "follow"
            };

            fetch("/aadhaar/redaction/test-api", requestOptions)
                .then((response) => response.json())
                .then((result) => {
                    $("#aadhaar_redaction_run").text("Run Api")

                    if (result['data']['status_code'] == 200) {
                        $(".c-loader").addClass('d-none')

                        request_id = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_id = result['data']['basic_response']['request_id']
                        }

                        request_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_on = result['data']['basic_response']['request_on']
                        }

                        response_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            response_on = result['data']['basic_response']['response_on']
                        }

                        api_name = ""
                        if (result['data']['basic_response'] != undefined) {
                            api_name = result['data']['basic_response']['api_name']
                        }

                        duration = ""
                        if (result['data']['basic_response'] != undefined) {
                            duration = result['data']['basic_response']['duration']
                        }


                        abc = {
                            "data": {
                                "response": result['data']['response'],
                                "request_id": request_id,
                                "request_on": request_on,
                                "response_on": response_on,
                                "api_name": api_name,
                                "duration": duration,
                            }
                        }
                        // Aadhaar Json preview
                        var formatteddata = JSON.stringify(abc, null, '\t')
                        document.getElementById('aadhaar_redaction_json').innerHTML = formatteddata
                        //    Result in second
                        if (result['data']['basic_response'] != undefined) {
                            $('#eta').removeClass('d-none')
                            document.getElementById("aadhaar_redaction_seconds").innerHTML = result['data']['basic_response']['duration']
                        }
                        // Masked Image Show
                        if (result['data']['response']['Image'] != undefined) {
                            $(".img-preview").removeClass("d-none")
                            document.getElementById("preview_img").src = result['data']['response']['Image']
                        }
                        // Api Status Show
                        $("#api_status").removeClass('d-none')
                        $("#status_code").addClass("success")
                        document.getElementById('status_code').innerHTML = result['data']['status_code']
                        // Used Credits set
                        if (result['data']['basic_response'] != undefined) {
                            $("#uds_crdts").text(result['data']['basic_response']['test_credits'])
                        }
                    }
                    else {
                        $(".c-loader").addClass('d-none')
                        request_id = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_id = result['data']['basic_response']['request_id']
                        }

                        request_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            request_on = result['data']['basic_response']['request_on']
                        }

                        response_on = ""
                        if (result['data']['basic_response'] != undefined) {
                            response_on = result['data']['basic_response']['response_on']
                        }

                        api_name = ""
                        if (result['data']['basic_response'] != undefined) {
                            api_name = result['data']['basic_response']['api_name']
                        }

                        duration = ""
                        if (result['data']['basic_response'] != undefined) {
                            duration = result['data']['basic_response']['duration']
                        }

                        abc = {
                            "data": {
                                "response": result['data']['response'],
                                "request_id": request_id,
                                "request_on": request_on,
                                "response_on": response_on,
                                "api_name": api_name,
                                "duration": duration,
                            }
                        }
                        // Aadhaar Json preview
                        var formatteddata = JSON.stringify(abc, null, '\t')
                        document.getElementById('aadhaar_redaction_json').innerHTML = formatteddata
                        // Hide Masked image
                        $(".img-preview").addClass("d-none")
                        // Api Status Show
                        $("#api_status").removeClass('d-none')
                        //    Result in second
                        if (result['data']['basic_response'] != undefined) {
                            $('#eta').removeClass('d-none')
                            document.getElementById("aadhaar_redaction_seconds").innerHTML = result['data']['basic_response']['duration']
                        }

                        $("#status_code").addClass("text-danger")
                        document.getElementById('status_code').innerHTML = result['data']['status_code']
                        // Used Credits set
                        if (result['data']['basic_response'] != undefined) {
                            $("#uds_crdts").text(result['data']['basic_response']['test_credits'])
                        }
                    }

                    // $(".c-loader").addClass('d-none')
                    // var formatteddata = JSON.stringify(result.data.json_data, null, '\t')
                    // $("#aadhaar_redaction_json").text(formatteddata)
                    // $('#eta').removeClass('d-none')
                    // document.getElementById("aadhaar_redaction_seconds").innerHTML = result.data.result_in_seconds
                    // $(".img-preview").removeClass("d-none")
                    // document.getElementById("preview_img").src = result.data.json_data.response.Image

                })
                .catch((error) => console.error(error));
        }
        else {
            alert("Please Choose File!")
        }


    })


    $("#full_screen_view").click(function () {
        enableFullScreen("aadhaar_redaction_json");
    });

    $("#aadhaar_redaction_copy").click(function () {
        copyToClipboard('#aadhaar_redaction_json')
    });

    $("#aadhaar_redaction_download").click(function () {
        Json_Download('aadhaar_redaction_json')
    });


    $('.img-preview').click(function (e) {
        var base64Image = $(this).attr('src');
        var newTab = window.open();
        newTab.document.write('<img src="' + base64Image + '" alt="Base64 Image">');
    });

</script>