<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - bluBeetle.ai</title>

    {% set Auth_Css_Urls = Auth_Css_Urls() %}
    {% if Auth_Css_Urls %}
    {{ Auth_Css_Urls | safe }}
    {% endif %}

    <div class="c-content">
        <div class="c-content-main-part">
            <div id="toastContainer" class="toast-container">
            </div>
        </div>
    </div>

</head>

<body>

    <section class="main-login">
        <div class="row">

            <!-- Authentication SideBar -->
            {% set Auth_Sidebar = Auth_Sidebar() %}
            {% if Auth_Sidebar %}
            {{ Auth_Sidebar | safe }}
            {% endif %}

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 login-right-main-part">
                <div class="login-right-part">
                    <div class="login-padding">
                        <a href="/">
                            <img src="../../static/images/logo.png" class="img-fluid c-logo">
                        </a>
                        <div class="login-box">
                            <div class="login-content">
                                <h1>Login</h1>
                                <div id="validate-toast"></div>
                                <div>
                                    <div class="input-groups">
                                        <label>Work Email</label>
                                        <input type="email" id="Email_ID" name="Email_ID" required>
                                        <div class="error" id="errorMessage_Email_ID"></div>
                                    </div>
                                    <div class="input-groups">
                                        <div class="d-flex justify-content-between">
                                            <label>Password</label>
                                            <div>
                                                <a href="/password_reset" class="c-link">Forgot Password</a>
                                            </div>
                                        </div>
                                        <i class="toggle-password ri-eye-line"></i>
                                        <input type="password" id="Password" name="Password" required>
                                        <div class="error" id="errorMessage_Password"></div>
                                    </div>
                                    <div class="group">
                                        <button class="btn c-btn" id="singin_btn">Login</button>
                                    </div>
                                    <div class="group text-center">
                                        <p class="c-signUp"> Don't have an Account? <a href="/register/user/new"
                                                class="c-link">Sign
                                                Up</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Page Javascript -->
    {% include 'SingIn_js.html' %}


    <script nonce="{{ g.nonce }}">

        $(document).ready(function () {
            $(".toggle-password").click(function () {
                $(this).toggleClass("ri-eye-off-line");
                input = $(this).parent().find("input");
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        });


    </script>


</body>

</html>