<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - bluBeetle.ai</title>

    {% set Admin_Portal_urls = Admin_Portal_urls() %}
    {% if Admin_Portal_urls %}
    {{ Admin_Portal_urls | safe }}
    {% endif %}

    <div class="c-content">
        <div class="c-content-main-part">
            <div id="toastContainer" class="toast-container">
            </div>
        </div>
    </div>

</head>

<body>
    <div class="main">
        <!-- Common Topbar -->
        {% set Admin_Portal_topbar = Admin_Portal_topbar(name) %}
        {% if Admin_Portal_topbar %}
        {{ Admin_Portal_topbar | safe }}
        {% endif %}

        <!-- Main Contant -->
        <div class="main-section">
            <!-- SideBar -->
            {% set Admin_Portal_sidebar = Admin_Portal_sidebar() %}
            {% if Admin_Portal_sidebar %}
            {{ Admin_Portal_sidebar | safe }}
            {% endif %}

            <div class="contain-main-part">
                <div class="c-contain-padding">
                    <div class="username_part">
                        <div class="username-text">
                            <h2>Default Credits</h2>
                        </div>
                    </div>
                    <div class="c-box mt-3">
                        <div class="c-box-padding">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-success" id="show_credits_history" data-toggle="modal"
                                    data-target="#credit_history">Credit
                                    History</button>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table id="basic-datatable"
                                            class="table table-bordered dataTable no-footer dtr-inline text-center">
                                            <thead>
                                                <tr>
                                                    <th class="text-wrap text-center">
                                                        Total Credits</th>
                                                    <th class="text-wrap text-center">
                                                        Created On</th>
                                                    <th class="text-wrap text-center">
                                                        Updated On</th>
                                                    <th class="text-wrap text-center">
                                                        Action</th>
                                                </tr>
                                            </thead>


                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <!-- Credit History Modal -->
    <div class="modal fade" id="credit_history" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Default Credit History</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">Sr No.</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Credited On</th>
                            </tr>
                        </thead>
                        <tbody id="show_history">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Credits -->
    <div class="modal fade" id="edit_credits" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Credit Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" class="needs-validation" id="edit_info" novalidate>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Total Credits <span class="text-danger dt">*</span></label>
                                    <input type="text" class="form-control" name="total_credit" id="total_credit"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary mb-1">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <!-- Verify Message -->
    {% if message == "Data Edit SuccessFully!" %}

    <script nonce="{{ g.nonce }}">
        NotifyMessage({ message: "{{message}}", type: "bg-success" });
    </script>

    {% else %}
    <script nonce="{{ g.nonce }}">
        console.log("{{message}}");

        NotifyMessage({ message: "{{message}}", type: "bg-danger" });
    </script>
    {% endif %}

    {% endfor %}
    {% endif%}
    {% endwith %}

    <!-- Page Javascript -->
    {% include 'default_credit_js.html' %}

</body>

</html>