<script nonce="{{ g.nonce }}">


    $('#kyc_quality_input').on('change', (event) => {
        var output = document.getElementById('quality_check_img');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    });


    $("#sample_kyc_quality_ckeck").click(function () {
        var output = document.getElementById('quality_check_img');
        output.src = "../../../../static/images/aadhaar_ocr.jpg"
    })

    $("#kyc_quality_run").click(function () {
        const fileInput = document.getElementById('kyc_quality_input');
        const file = fileInput.files[0];

        const formdata = new FormData();
        formdata.append("kyc_quality_img", file);

        const requestOptions = {
            method: "POST",
            body: formdata,
            redirect: "follow"
        };

        fetch("/quality/kyc/test-api", requestOptions)
            .then((response) => response.json())
            .then((result) => {
                ;

                var formatteddata = JSON.stringify(result.data.json_data, null, '\t')
                $("#KYC_quality_json").text(formatteddata)
                $('#eta').removeClass('d-none')
                document.getElementById("aadhaar_redaction_seconds").innerHTML = result.data.result_in_seconds
            })
            .catch((error) => console.error(error));
    })


    $("#full_screen_view").click(function () {
        enableFullScreen("KYC_quality_json");
    });


</script>