<div id="chat-bot">

    <div class="messenger br10">
        <div class="chatBot-Header">
            <div class="chatBot-User-Profile">
                <img src="../../../static/images/Chat-Profile.svg" alt="" srcset="">
            </div>
            <span class="ChatBot-heading-name">Customer Support</span>
        </div>
        <div class="chatroom">
            <div class="form-group">
                <label class="c-label ChatBot-Label mb-1">What You Want To Report?</label>
                <select class="form-control custom-form-select">
                    <option>Select</option>
                    <option value="Feedback">Feedback</option>
                    <option value="Report An Issue">Report An Issue</option>
                    <option value="Suggestion">Suggestion</option>
                </select>
            </div>
            <div class="form-group">
                <label class="c-label ChatBot-Label mb-1">Subject</label>
                <input class="form-control custom-form-control" type="text" />
            </div>
            <div class="form-group">
                <label class="c-label ChatBot-Label mb-1">Remark</label>
                <textarea class="form-control custom-form-control" cols="10" rows="2"></textarea>
            </div>
            <div class="text-right">
                <button class="chat-submit-btn" type="button">Send
                    <i class="mdi mdi-send"></i></button>
            </div>
        </div>
    </div>
    <div class="ChatBot-iCon">
        <div class="user">

        </div>
        <img class="Chatbot-icon-img" src="../../../static/images/ChatBot-iCon.svg" alt="" srcset="">
        <span class="ml-3">Customer Support</span>
    </div>
</div>