<div class="modal fade" id="creditsMailModal" tabindex="-1" role="dialog" aria-labelledby="creditsMailModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <div class="d-flex align-items-content justify-content-between">
                        <div class="model-icon">
                            <i class="ri-function-add-line"></i>
                        </div>
                        <div class="d-block ml-3">
                            <h6>credit increase Request</h6>
                            <p>Unlock your Finacial Potential</p>
                        </div>
                    </div>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="model-header">
                    <div class="c-body-content">
                        <h5>Subject</h5>
                        <div>Request for additional credits</div>
                    </div>
                    <div class="body-content-details">
                        <div class="mb-3">Dear bluBeetle.ai,</div>
                        <p>We kindly request additional credits. This will enable us ensure smooth operations.</p>

                        <div class="mt-3">Thanks & Regards,</div>
                        <div class="mb-2">{{page_info[0]['user_name']}}</div>
                    </div>
                    <button
                        class="custom-secondry-btn d-flex align-items-center justify-content-between float-right mt-3"
                        id="mail_triger">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="RevertMailModal" tabindex="-1" role="dialog" aria-labelledby="RevertMailModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <div class="d-flex align-items-content justify-content-between">
                        <div class="model-icon">
                            <i class="ri-check-line"></i>
                        </div>
                        <div class="d-block ml-3">
                            <h6>Request Sent</h6>
                            <p>Your message is on its way!</p>
                        </div>
                    </div>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="model-header">
                    <div class="c-body-content">
                        <h5>Thank you for your request.</h5>
                        <div>We have received it and will update you shortly.</div>
                    </div>
                    <button class="custom-primary-btn float-right" data-dismiss="modal" aria-label="Close">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script nonce="{{ g.nonce }}">
    var RevertMailModal = new bootstrap.Modal(document.getElementById('RevertMailModal'));
    var creditsMailModal = document.getElementById('creditsMailModal')

    $(document).on("click", "#mail_triger", function () {
        $("#mail_triger").html(`
                    <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                    Loading...
                `)

        const requestOptions = {
            method: "GET",
            redirect: "follow"
        };

        fetch("/request-for-more/credits", requestOptions)
            .then((response) => response.json())
            .then((result) => {
                $("#mail_triger").html("Submit")
                setTimeout(() => {
                    $("#creditsMailModal").removeClass("show")
                    $(".modal-backdrop").removeClass("show")
                    $(".modal-backdrop").removeClass("modal-backdrop fade")
                    RevertMailModal.show()

                }, 1500);
            })
            .catch((error) => console.error(error));


    })


    // ChatBot
    $(".ChatBot-iCon").click(function () {
        $(".ChatBot-iCon").toggleClass("expanded")
        setTimeout(() => {
            $(".messenger").toggleClass("expanded");
        }, 100);
    })

    // Profile js
    let profile = document.querySelector('.img-box');
    let menu = document.querySelector('.profile-menu');

    profile.onclick = function () {
        menu.classList.toggle('active');
    }



</script>