<div class="side-menu">
    <div class="side-menu-container sidebar-navigation">
        <ul class="nav navbar-nav c-tooltip" id="side-main-menu">
            <li class="panel panel-default c-menu active">
                <a href="/dashboard">
                    <img src="../static/images/dashboard.svg" alt="">
                    <span class="tooltip">Home</span>
                </a>
            </li>
            <li class="panel panel-default c-menu">
                <a href="#">
                    <img src="../static/images/insights.svg" alt="">
                    <span class="tooltip">Usage Insights</span>
                </a>
            </li>
            <li class="panel panel-default c-menu">
                <a href="#">
                    <img src="../static/images/credits.svg" alt="">
                    <span class="tooltip">Credits and Pricing</span>
                </a>
            </li>
            <li class="panel panel-default c-menu">
                <a href="#">
                    <img src="../static/images/documentation.svg" alt="">
                    <span class="tooltip">API Documentation</span>
                </a>
            </li>
            <li class="panel panel-default c-menu">
                <a href="/credentials">
                    <img src="../static/images/api-credentials.svg" alt="">
                    <span class="tooltip">API Credentials</span>
                </a>
            </li>
            <li class="panel panel-default c-menu">
                <a href="/support">
                    <img src="../static/images/support.svg" alt="">
                    <span class="tooltip">Support</span>
                </a>
            </li>
        </ul>
    </div>
    </nav>
</div>