<div class="row">
    <div class="col-12 c-heading-common">
        <h1 class="main-heading">{{page_info[0]['page_name']}}</h1>
        <div class="testing-credit">
            <div class="plus_credits" data-toggle="modal" data-target="#creditsMailModal">
                <i class="ri-add-fill"></i>
            </div>
            <!-- {{page_info[0]['user_type']}} -->
            <p class="testing-credit-text">Test Credits</p>
            <p class="testing-credit-digit"><i class="ri-task-line"></i>
                <span id="uds_crdts"> {{page_info[0]['Used_Credits']}} </span>
            </p>
        </div>
    </div>
</div>