<!-- App favicon -->
<link rel="icon" type="image/x-icon" href="../../static/favicon.png">

<!-- Bootstrap , JQuery, Popper -->
<link rel="stylesheet" href="../static/vendor/bootstrap4.6.1/bootstrap.min.css">
<script src="../static/vendor/JQuery/JQuery.min.js"></script>
<script src="../static/vendor/bootstrap4.6.1/popper.min.js"></script>
<script src="../static/vendor/bootstrap4.6.1/bootstrap.vendor.min.js"></script>


<!-- Icons -->
<link rel="stylesheet" href="../static/vendor/Icons/bootstrap.glyphicons.css">
<link href="../../static/vendor/Icons/remixicon.css" rel="stylesheet">


<!-- Select2 -->
<link rel="stylesheet" href="../static/vendor/Select2/select2.min.css">
<script src="../static/vendor/Select2/select2.min.js"></script>

<!-- Toaster -->
<script src="../../static/vendor/Toaster/toaster-min.js"></script>


<!-- Common css -->
<link href="../../static/User_portal_css/user-style.css" rel="stylesheet">

<!-- Common JS -->
 <script src="../../static/js/Common_js.js"></script>


