<!DOCTYPE html>
<html lang="en">

<head>
    <title>Verify Link Expire :: bluBeetle.ai</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set User_Portal_urls = User_Portal_urls() %}
    {% if User_Portal_urls %}
    {{ User_Portal_urls | safe }}
    {% endif %}

</head>

<body>

    <header class="header">
        <div class="container-fluid">
            <div class="main-head">
                <div class="logo" style="margin: 0 auto; width: 255px; padding: 5px 0px; text-align: center;">
                    <img src="../../static/images/logo.png" class="img-fluid logo-img">
                </div>
            </div>
        </div>
    </header>
    <section class="main-part">

        <div class="email-veri-body-part">
            <div class="email-veri-padding">
                <img src="../../static/images/warning.svg" alt="" class="email-icon">
                <h2>Something Went Wrong!</h2>
                <a href="/" class="btn c-btn"><i class="ri-reset-left-line"></i>Try Again</a>
            </div>
        </div>
    </section>

</body>

</html>